<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>academy</title>
    <link href="css/academy.css" rel="stylesheet">
</head>
<body>
    <section>

        <div class="academy">

            <div class="academy_left">

                <div class="menu_a">

                    <div>
                        <p>회원권/아카데미</p>
                        <div>
                            <img src="img/location.png">
                        </div>
                    </div>

                <ul>

                    <a href="#">
                        <li>
                            <p>회원권</p>
                            <p>></p>
                        </li>
                    </a>

                    <a href="#">
                        <li>
                            <p>아카데미</p>
                            <p>></p>
                        </li>
                    </a>

                </ul>


                </div>

            </div>


            <div class="academy_right">

                <div class="rout_a">

                    <div>
                        <img src="img/find.png">
                    </div>

                    <p>></p>

                    <p>회원권/아카데미</p>

                    <p>></p>

                    <p>아카데미</p>

                </div>

                <p>아카데미(전지훈련)</p>

                <div class="line01"></div>

                <div class="product01">

                    <a href="../academy_detail/academy_detail.html">
                        <div>
                            <img src="img/01academy.png">
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <img src="img/02academy.png">
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <img src="img/03academy.png">
                        </div>
                    </a>

                </div>

                <div class="product02">

                    <a href="#">
                        <div>
                            <img src="img/01academy.png">
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <img src="img/02academy.png">
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <img src="img/03academy.png">
                        </div>
                    </a>

                </div>

                <div class="product03">

                    <a href="#">
                        <div>
                            <img src="img/01academy.png">
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <img src="img/02academy.png">
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <img src="img/03academy.png">
                        </div>
                    </a>

                </div>

                <div class="num_btn">

                    <a href="#">
                        <p><</p>
                    </a>

                    <a href="#">
                        <p>1</p>
                    </a>

                    <a href="#">
                        <p>2</p>
                    </a>

                    <a href="#">
                        <p>3</p>
                    </a>

                    <a href="#">
                        <p>4</p>
                    </a>

                    <a href="#">
                        <p>5</p>
                    </a>

                    <a href="#">
                        <p>6</p>
                    </a>

                    <a href="#">
                        <p>7</p>
                    </a>

                    <a href="#">
                        <p>></p>
                    </a>


                </div>


            </div>

        </div><!--academy-->

    </section>
</body>
</html>