<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_id_02</title>
    <link href="css/find_id_02.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="id_box">

            <p>아이디 찾기</p>

            <div class="find">

                <div class="logo">
                    <div>
                        <img src="img/join_logo.png">
                    </div>
                </div>

                <div class="id">
                    <p>고객님의 아이디는 <span>an20o0@naver.com</span> 입니다.</p>
                </div>

            </div>

            <a href="#">
                <p>로그인 하러 가기</p>
            </a>

        </div>
    </section>
</body>
</html>