<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>main</title>
<link href="css/index.css" rel="stylesheet">
</head>
<body>

	<input type="checkbox" id="menu_btn">

	<div class="header">
		<div class="header_top">
			<div class="button">
				<div class="favorites">
					<p>
	 					<a href="#">즐겨찾기</a>
					</p>
				</div>
				<!--즐겨찾기-->
				<div class="resercation">
					<p>
						<a href="#">예약확인
					</p>
				</div>
				<!--예약확인-->
			</div>
			<!--button-->
		</div>
		<!--header_top-->

		<div class="header_middle">
			<div class="middle_top">
				<div class="logo">
					<a href="index.html"> <img src="img/logo.png">
					</a>
				</div>
				<!--로고-->

				<div class="search">
					<div class="calendar">
						<img src="img/calendar.png">
					</div>

					<div class="qna_button">
						<img src="img/qna.png">
					</div>
				</div>
				<!--검색 박스-->

				<div class="call_header">
					<img src="img/call_header.png">
				</div>

				<div class="login_btn">
					<div class="login">
						<a href="login/login.html"> <img src="img/login.png">
						</a>
					</div>

					<label for="menu_btn"> <img src="img/menu.png">
					</label>
				</div>

			</div>
			<!--top-->
			<div class="middle_bottom">
				<div>
					<a href="#">#MD추천</a>
				</div>
				<div>
					<a href="#">#해외전지훈련</a>
				</div>
				<div>
					<a href="#">#인천출발</a>
				</div>
				<div>
					<a href="hashtag/hashtag.html">#코로나무격리</a>
				</div>
				<div>
					<a href="#">#부산출발</a>
				</div>
				<div>
					<a href="#">#대구출발</a>
				</div>
			</div>
			<!--해시태그-->
		</div>
		<!--header_middle-->

		<div class="lnb_ex">
			<div class="lnb">
				<ul>
					<li><a href="sub/sub.html">일본골프</a>
						<ul>
							<div class="sheet_01">
								<li><a href="sub/sub.html">도쿄/간토</a></li>
								<li><a href="#">오사카/간사이</a></li>
								<li><a href="#">홋카이도/삿포로</a></li>
								<li><a href="#">후쿠오카/야마구치</a></li>
								<li><a href="#">가고시마/미아자키</a></li>
								<li><a href="#">구가모토/오이타</a></li>
								<li><a href="#">나가사키/사가</a></li>
								<li><a href="#">아오모리/니가타</a></li>
								<li><a href="#">나고야/도카이</a></li>
								<li><a href="#">오카야마/츄고쿠</a></li>
								<li><a href="#">다카마츠/마츠야마</a></li>
							</div>
						</ul>
						<!--소메뉴--></li>
					<!--일본골프-->

					<div class="line01"></div>

					<li><a href="#">태국골프</a>
						<ul>
							<div class="sheet_02">
								<li><a href="#">방콕/파타야</a></li>
								<li><a href="#">치앙마이/치앙라이</a></li>
								<li><a href="#">푸켓</a></li>
								<li><a href="#">칸차나부리/야유타야</a></li>
								<li><a href="#">후아힌</a></li>
							</div>
							<!--sheet02-->
						</ul>
						<!--소메뉴--></li>
					<!--태국골프-->

					<div class="line02"></div>

					<li><a href="#">베트남골프</a>
						<ul>
							<div class="sheet_03">
								<li><a href="#">나트랑</a></li>
								<li><a href="#">푸꾸옥</a></li>
								<li><a href="#">다낭</a></li>
								<li><a href="#">하노이</a></li>
								<li><a href="#">호치민</a></li>
								<li><a href="#">달랏</a></li>
							</div>
							<!--sheet03-->
						</ul>
						<!--소메뉴--></li>
					<!--베트남골프-->

					<div class="line03"></div>

					<li><a href="#">대만골프</a>
						<ul>
							<div class="sheet_04">
								<li><a href="#">타이페이/타이중</a></li>
								<li><a href="#">카오슝</a></li>
								<li><a href="#">화련</a></li>
							</div>
						</ul>
						<!--소메뉴--></li>
					<!--대만-->

					<div class="line04"></div>

					<li><a href="#">기획전/이벤트</a></li>
					<!--기획전/이벤트-->

					<div class="line05"></div>

					<li><a href="#">마이페이지</a></li>

					<div class="line06"></div>

					<li><a href="#">회원권/아카데미</a>
						<ul>
							<div class="sheet_05">
								<li><a href="#">회원권</a></li>
								<li><a href="#">아카데미</a></li>
							</div>
						</ul></li>

				</ul>
				<!--전체lnb-->

			</div>
			<!--lnb-->

			<div class="btn_sheet">
				<ul>
					<li><a href="#">일본골프</a>
						<ul>
							<div class="sub_menu01">
								<li><a href="#">도쿄/간도</a></li>
								<li><a href="#">오사카/간사이</a></li>
								<li><a href="#">홋카이도/삿포로</a></li>
								<li><a href="#">오키나와/나하</a></li>
								<li><a href="#">후쿠오카/야마구치</a></li>
								<li><a href="#">가고시마/미야자키</a></li>
								<li><a href="#">구마모토/오이타</a></li>
								<li><a href="#">나카사키/사가</a></li>
								<li><a href="#">아오모리/니카타</a></li>
								<li><a href="#">나고야/도카이</a></li>
								<li><a href="#">오카야마/츄고쿠</a></li>
								<li><a href="#">다카마츠.마츠아마</a></li>
							</div>
						</ul>
						<!--일본--></li>
					<!--일본-->

					<div class="line01">
						<div class="menu_line01"></div>
						<div class="menu_line02"></div>
					</div>

					<li><a href="#">태국골프</a>
						<ul>
							<div class="sub_menu02">
								<li><a href="#">방콕/파타야</a></li>
								<li><a href="#">치앙마이/치앙라이</a></li>
								<li><a href="#">푸켓</a></li>
								<li><a href="#">칸차나부리/아유타야</a></li>
								<li><a href="#">후아힌</a></li>
							</div>
						</ul>
						<!--태국--></li>
					<!--태국-->

					<div class="line02">
						<div class="menu_line03"></div>
						<div class="menu_line04"></div>
					</div>

					<li><a href="#">베트남골프</a>
						<ul>
							<div class="sub_menu03">
								<li><a href="#">나트랑</a></li>
								<li><a href="#">푸꾸옥</a></li>
								<li><a href="#">다낭</a></li>
								<li><a href="#">하노이</a></li>
								<li><a href="#">호치민</a></li>
								<li><a href="#">달랏</a></li>
							</div>
						</ul>
						<!--베트남--></li>
					<!--베트남-->

					<div class="line03">
						<div class="menu_line05"></div>
						<div class="menu_line06"></div>
					</div>

					<li><a href="#">대만골프</a>
						<ul>
							<div class="sub_menu04">
								<li><a href="#">가오슝</a></li>
								<li><a href="#">타이중</a></li>
								<li><a href="#">타이페이</a></li>
								<li><a href="#">신죽</a></li>
								<li><a href="#">타오위안</a></li>
								<li><a href="#">이란/화련</a></li>
							</div>
						</ul>
						<!--대만--></li>
					<!--대만-->

					<div class="line04">
						<div class="menu_line07"></div>
						<div class="menu_line08"></div>
					</div>

					<li><a href="#">회원권/아카데미</a>
						<ul>
							<div class="sub_menu05">
								<li><a href="#">회원권</a></li>
								<li><a href="#">아카데미</a></li>
							</div>
						</ul>
						<!--회원권--></li>
					<!--회원권-->

					<div class="line05">
						<div class="menu_line09"></div>
						<div class="menu_line10"></div>
					</div>


				</ul>
			</div>


		</div>
		<!--lnb_ex-->



	</div>
	<!--header-->

	<div class="visual_banner">
		<img src="img/visual.png">
	</div>
	<!--visual_banner-->

	<div class="recommend_zon">
		<div class="recommend_title">
			<p>
				<span>해외골프</span> 강력추천상품
			</p>
			<p>7일동안 특별한 가격으로 만나는 상품!</p>
		</div>
		<!--타이틀-->

		<div class="bar">
			<img src="img/bar.png">
		</div>

		<div class="recommend">


			<div class="recommend_left">
				<img src="img/left.png">
			</div>



			<div class="recommend_01">

				<a href="#">
					<div class="recommend_img01">
						<img src="img/product01.png">
					</div>

					<div class="title_rec01">
						<p>인천출발 ></p>
						<p>태국/치앙마이</p>
						<p>치앙마이 아티타야 3박 5일</p>
						<p>1,090,000원~</p>
					</div>

					<div class="grade01">
						<div class="star01">
							<img src="img/star.png"> <img src="img/star.png"> <img
								src="img/star.png"> <img src="img/star.png"> <img
								src="img/02star.png">
						</div>

						<div class="review01">
							<div class="talk01">
								<img src="img/talk.png">
								<p>203</p>
							</div>
							<div class="good01">
								<img src="img/good.png">
								<p>8.5</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<!--상품01-->



			<div class="recommend_02">
				<a href="#">
					<div class="recommend_img02">
						<img src="img/product02.png">
					</div>
					<div class="title_rec02">
						<p>김해출발 ></p>
						<p>베트남/다낭</p>
						<p>다낭 명품 3색골프 3박 5일</p>
						<p>1,290,000원~</p>
					</div>
					<div class="grade02">
						<div class="star02">
							<img src="img/star.png"> <img src="img/star.png"> <img
								src="img/star.png"> <img src="img/star.png"> <img
								src="img/02star.png">
						</div>

						<div class="review02">
							<div class="talk02">
								<img src="img/talk.png">
								<p>203</p>
							</div>
							<div class="good02">
								<img src="img/good.png">
								<p>8.5</p>
							</div>
						</div>
					</div>

				</a>
			</div>
			<!--상품02-->



			<div class="recommend_03">
				<a href="#">
					<div class="recommend_img03">
						<img src="img/product03.png">
					</div>
					<div class="title_rec03">
						<p>대구출발 ></p>
						<p>일본/북해도</p>
						<p>루스츠 골프리조트 4박 6일</p>
						<p>1,590,000원~</p>
					</div>
					<div class="grade03">
						<div class="star03">
							<img src="img/star.png"> <img src="img/star.png"> <img
								src="img/star.png"> <img src="img/star.png"> <img
								src="img/02star.png">
						</div>

						<div class="review03">
							<div class="talk03">
								<img src="img/talk.png">
								<p>203</p>
							</div>
							<div class="good03">
								<img src="img/good.png">
								<p>8.5</p>
							</div>
						</div>
					</div>
				</a>

			</div>



			<div class="recommend_right">
				<img src="img/right.png">
			</div>

		</div>
	</div>
	<!--추천상품-->

	<input type="radio" name="country" id="product_chk01">
	<input type="radio" name="country" id="product_chk02">
	<input type="radio" name="country" id="product_chk03">
	<input type="radio" name="country" id="product_chk04">

	<div class="best_product">

		<div class="title_best">
			<p>
				지역별 <span>인기상품 </span>BEST
			</p>
			<p>많은 분들이 선택한 최고의 골프장 인기상품!</p>
		</div>
		<!--타이틀-->

		<div class="best_zon">

			<div class="product_menu">
				<p>지역별 인기 상품</p>
				<label for="product_chk01"><p>일본골프</p></label>
				<div class="product_line01"></div>
				<label for="product_chk02"><p>태국골프</p></label>
				<div class="product_line02"></div>
				<label for="product_chk03"><p>베트남골프</p></label>
				<div class="product_line03"></div>
				<label for="product_chk04"><p>대만골프</p></label>
			</div>

			<div class="product">
				<div class="product01">
					<a href="#"> <img src="img/product04.png">
						<div class="product_text01">
							<p>김해출발 ></p>
							<p>태국/치앙마이</p>
							<p>치앙마이 아티타야 3박 5일</p>
							<p>1,090,000원~</p>
						</div>
						<!--text-->

						<div class="grade04">
							<div class="star04">
								<img src="img/star.png"> <img src="img/star.png"> <img
									src="img/star.png"> <img src="img/star.png"> <img
									src="img/02star.png">
							</div>

							<div class="review04">
								<div class="talk04">
									<img src="img/talk.png">
									<p>203</p>
								</div>
								<div class="good04">
									<img src="img/good.png">
									<p>8.5</p>
								</div>
							</div>
						</div>
						<!--grade-->
					</a>
				</div>
				<!--상품01---->

				<div class="product02">
					<a href="#"> <img src="img/product05.png">
						<div class="product_text02">
							<p>인천출발 ></p>
							<p>대만/타이페이</p>
							<p>타이페이 VIP 골프 3박 4일</p>
							<p>999,000원~</p>
						</div>
						<!--text-->

						<div class="grade05">
							<div class="star05">
								<img src="img/star.png"> <img src="img/star.png"> <img
									src="img/star.png"> <img src="img/star.png"> <img
									src="img/02star.png">
							</div>

							<div class="review05">
								<div class="talk05">
									<img src="img/talk.png">
									<p>203</p>
								</div>
								<div class="good05">
									<img src="img/good.png">
									<p>8.5</p>
								</div>
							</div>
						</div>
						<!--grade-->
					</a>
				</div>
				<!--상품02---->

				<div class="product03">
					<a href="#"> <img src="img/product06.png">
						<div class="product_text03">
							<p>김해출발 ></p>
							<p>베트님/다낭</p>
							<p>다낭 명품 3색 골프 3박 5일</p>
							<p>1,090,000원~</p>
						</div>
						<!--text-->

						<div class="grade06">
							<div class="star06">
								<img src="img/star.png"> <img src="img/star.png"> <img
									src="img/star.png"> <img src="img/star.png"> <img
									src="img/02star.png">
							</div>

							<div class="review06">
								<div class="talk06">
									<img src="img/talk.png">
									<p>203</p>
								</div>
								<div class="good06">
									<img src="img/good.png">
									<p>8.5</p>
								</div>
							</div>
						</div>
						<!--grade-->
					</a>
				</div>
				<!--상품03---->

				<div class="product04">
					<a href="#"> <img src="img/product07.png">
						<div class="product_text04">
							<p>대구출발 ></p>
							<p>일본/북해도</p>
							<p>루스츠 골프리조트 4박 6일</p>
							<p>1,590,000원~</p>
						</div>
						<!--text-->

						<div class="grade07">
							<div class="star07">
								<img src="img/star.png"> <img src="img/star.png"> <img
									src="img/star.png"> <img src="img/star.png"> <img
									src="img/02star.png">
							</div>

							<div class="review07">
								<div class="talk07">
									<img src="img/talk.png">
									<p>203</p>
								</div>
								<div class="good07">
									<img src="img/good.png">
									<p>8.5</p>
								</div>
							</div>
						</div>
						<!--grade-->
					</a>
				</div>
				<!--상품03---->

				<div class="product05">
					<a href="#"> <img src="img/product08.png">
						<div class="product_text05">
							<p>인천출발 ></p>
							<p>대만/타이페이</p>
							<p>카오슝 럭셔리 골프 3박 5일</p>
							<p>1,090,000원~</p>
						</div>
						<!--text-->

						<div class="grade08">
							<div class="star08">
								<img src="img/star.png"> <img src="img/star.png"> <img
									src="img/star.png"> <img src="img/star.png"> <img
									src="img/02star.png">
							</div>

							<div class="review08">
								<div class="talk08">
									<img src="img/talk.png">
									<p>203</p>
								</div>
								<div class="good08">
									<img src="img/good.png">
									<p>8.5</p>
								</div>
							</div>
						</div>
						<!--grade-->
					</a>
				</div>
				<!--상품03---->

				<div class="product_left">
					<img src="img/product_left.png">
				</div>

				<div class="product_right">
					<img src="img/product_right.png">
				</div>
			</div>
			<!--product-->


		</div>
		<!--best-->

	</div>

	<div class="event_zon">
		<div class="event_title">
			<p>
				<span>이벤트 </span>/ 기획전
			</p>
			<P>7일동안 특별한 가격으로 만나는 상품!</P>
		</div>
		<!--타이틀-->

		<div class="event">
			<div class="event01">
				<a href="#"> <img src="img/event01.png">
				</a>
			</div>
			<div class="event02">
				<a href="#"> <img src="img/event02.png">
				</a>
			</div>
			<div class="event03">
				<a href="#"> <img src="img/event03.png">
				</a>
			</div>
		</div>
	</div>
	<!--이벤트-->

	<div class="freedom">
		<div class="country">
			<div>
				<a href="#">일본 자유골프→</a>
			</div>
			<div>
				<a href="#">태국 자유골프→</a>
			</div>
			<div>
				<a href="#">베트남 자유골프→</a>
			</div>
			<div>
				<a href="#">대만 자유골프→</a>
			</div>
		</div>
	</div>
	<!--자유골프-->

	<div class="notic_zon">
		<div class="notic">
			<div class="title_notic">
				<p>공지사항</p>
				<p>
					<a href="#">+ 더보기</a>
				</p>
			</div>

			<div class="notic_box">
				<div class="notic_01">
					<a href="#">
						<p>태국 입국 서류 및 pcr 검사 안내</p>
						<p>2022-05-12</p>
					</a>
				</div>

				<div class="notic_02">
					<a href="#">
						<p>[항공사 동향]항공사·면세점·급유시설까지 공항업종 大···</p>
						<p>2022-04-29</p>
					</a>
				</div>

				<div class="notic_03">
					<a href="#">
						<p>3년만에 일본 골프 상품 출시</p>
						<p>2022-03-08</p>
					</a>
				</div>

			</div>
			<!--공지사항_box-->
		</div>
		<!--공지사항-->
		<div class="call">

			<div class="number">
				<div class="korea_number">
					<img src="img/call.png">
				</div>

				<div class="call_number">
					<p>상담전화</p>
					<p>1588-1855</p>
				</div>
			</div>

			<div class="time">
				<div class="time01">
					<p>
						<span>평 일</span> 09:00~18:00
					</p>
				</div>

				<div class="time02">
					<p>
						<span>토요일</span> 09:00~12:00
					</p>
				</div>

				<div class="time03">
					<p>
						<span>일요일</span> 및 <span>공휴일</span> 휴무
					</p>
				</div>

			</div>
			<!--시간-->

			<div class="visitant">
				<p>누적방문자수</p>
				<div class="visitant_number">
					<p>3,405,527</p>
				</div>
				<!--숫자-->
			</div>
			<!--누적방문자수-->

		</div>
		<!--call-->
	</div>
	<!--공지사항&전화번호-->


	<footer class="footer_ex">
		<div class="footer_top">
			<ul>
				<li><a href="#">회사소개</a></li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">여행약관</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">이메일무단수집거부</a></li>
				<li><a href="#">홈세일문의</a></li>
				<li><a href="#">제휴/홍보문의</a></li>
			</ul>
		</div>
		<!--top-->

		<div class="footer_middle">
			<div class="sns_zon">
				<div class="footer_logo">
					<a href="index.html"> <img src="img/footer_logo.png">
					</a>
				</div>

				<div class="sns">
					<div class="kakao">
						<a href="#"> <img src="img/kakao.png">
						</a>
					</div>

					<div class="blog">
						<a href="#"> <img src="img/blog.png">
						</a>
					</div>

					<div class="facebook">
						<a href="#"> <img src="img/facebook.png">
						</a>
					</div>

					<div class="band">
						<a href="#"> <img src="img/band.png">
						</a>
					</div>
				</div>
			</div>
			<!--sns_zon-->
		</div>
		<!--middle-->

		<div class="footer_bottom_ex">
			<div class="footer_bottom">
				<div class="company">
					<p>골프아이</p>
					<p>서울시 종로구 디지털로 26길 72,2층</p>
					<p>사업자번호 : 211-87-15370</p>
					<a href="#">사업자정보확인></a> <br>
					<p>통신판매업신고번호 : 2019-서울구로-0734</p>
					<p>대표이사 : 홍길동 개인정보보호책임자 : 홍길동</p>
					<a href="#">E-MAIL 문의></a><br>
					<p>copyright 1300k.com.ALL RIGHTS RESERVED. 상품 사진을 포함한 모든 콘텐츠는
						저작권법 제 98조에 의거해 보호를 받고 있습니다.</p>
				</div>
				<!--회사-->

				<div class="download">
					<a href="#">골프아이<span>APP</span>다운로드
					</a>
				</div>
			</div>
			<!--다운로드-->
		</div>
		<!--bottom_ex-->
	</footer>
</body>
</html>