<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join02</title>
    <link href="css/join02.css" rel="stylesheet">
</head>
<body>

    <section class="join">
        <div class="join_box">
            <div class="join_title">
                <p>회원가입</p>
            </div><!--title-->

            <div class="confirm_box">

                <p>회원님의 명의로 등록된 휴대폰으로 본인확인을 진행합니다.</p>

                <div class="phone">
                    <select>
                        <option>대한민국</option>
                        <option>　</option>
                        <option>　</option>
                        <option>　</option>
                    </select>

                    <input type="text" size="18" maxlength="18" required
                    placeholder="휴대폰번호(숫자만입력)" id="phone_n">
                </div>

                <div class="certification_number">

                    <input type="text" size="18" maxlength="18" required
                    placeholder="인증번호입력" id="certification">

                    <a href="#">
                        <p>인증번호받기</p>
                    </a>

                </div>
            </div><!--confirm_box-->

            <div class="check_box">
                <div class="all_chk">
                    <input type="checkbox" id="all_chk"> 전체동의하기
                </div>
            

            <input type="checkbox" id="e-mail_chk"> 이메일로 소식받기 <br>

            <input type="checkbox" id="message_chk"> 문자메시지로 소식받기

            <div class="agree01">
                <input type="checkbox" id="agree01"> 이용약관 동의하기
                <a href="#"><p>>>상세보기</p></a>
            </div><!--동의-->

            <div class="agree02">
                <input type="checkbox" id="agree02"> 개인정보취급방침 동의하기
                <a href="#"><p>>>상세보기</p></a>
            </div><!--동의-->

            </div><!--chk_box-->

            <input type="button" value="확인" id="confirm">

        </div><!--box-->
    </section><!--join-->


</body>
</html>