<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>sub</title>
<link href="css/sub.css" rel="stylesheet">
</head>
<body>
	<input type="checkbox" id="menu_btn">

	<div class="header">
		<div class="header_top">
			<div class="button">
				<div class="favorites">
					<p>
						<a href="#">즐겨찾기</a>
					</p>
				</div>
				<!--즐겨찾기-->
				<div class="resercation">
					<p>
						<a href="#">예약확인
					</p>
				</div>
				<!--예약확인-->
			</div>
			<!--button-->
		</div>
		<!--header_top-->

		<div class="header_middle">
			<div class="middle_top">
				<div class="logo">
					<a href="../index.html"> <img src="../img/logo.png">
					</a>
				</div>
				<!--로고-->

				<div class="search">
					<div class="calendar">
						<img src="../img/calendar.png">
					</div>

					<div class="qna_button">
						<img src="../img/qna.png">
					</div>
				</div>
				<!--검색 박스-->

				<div class="call_header">
					<img src="../img/call_header.png">
				</div>

				<div class="login_btn">
					<div class="login">
						<a href="../login/login.html"> <img src="../img/login.png">
						</a>
					</div>

					<label for="menu_btn"> <img src="../img/menu.png">
					</label>
				</div>

			</div>
			<!--top-->
			<div class="middle_bottom">
				<div>
					<a href="#">#MD추천</a>
				</div>
				<div>
					<a href="#">#해외전지훈련</a>
				</div>
				<div>
					<a href="#">#인천출발</a>
				</div>
				<div>
					<a href="#">#코로나무격리</a>
				</div>
				<div>
					<a href="#">#부산출발</a>
				</div>
				<div>
					<a href="#">#대구출발</a>
				</div>
			</div>
			<!--해시태그-->
		</div>
		<!--header_middle-->

		<div class="lnb_ex">
			<div class="lnb">
				<ul>
					<li><a href="#">일본골프</a>
						<ul>
							<div class="sheet_01">
								<li><a href="sub.html">도쿄/간토</a></li>
								<li><a href="#">오사카/간사이</a></li>
								<li><a href="#">홋카이도/삿포로</a></li>
								<li><a href="#">후쿠오카/야마구치</a></li>
								<li><a href="#">가고시마/미아자키</a></li>
								<li><a href="#">구가모토/오이타</a></li>
								<li><a href="#">나가사키/사가</a></li>
								<li><a href="#">아오모리/니가타</a></li>
								<li><a href="#">나고야/도카이</a></li>
								<li><a href="#">오카야마/츄고쿠</a></li>
								<li><a href="#">다카마츠/마츠야마</a></li>
							</div>
						</ul>
						<!--소메뉴--></li>
					<!--일본골프-->

					<div class="line01"></div>

					<li><a href="#">태국골프</a>
						<ul>
							<div class="sheet_02">
								<li><a href="#">방콕/파타야</a></li>
								<li><a href="#">치앙마이/치앙라이</a></li>
								<li><a href="#">푸켓</a></li>
								<li><a href="#">칸차나부리/야유타야</a></li>
								<li><a href="#">후아힌</a></li>
							</div>
							<!--sheet02-->
						</ul>
						<!--소메뉴--></li>
					<!--태국골프-->

					<div class="line02"></div>

					<li><a href="#">베트남골프</a>
						<ul>
							<div class="sheet_03">
								<li><a href="#">나트랑</a></li>
								<li><a href="#">푸꾸옥</a></li>
								<li><a href="#">다낭</a></li>
								<li><a href="#">하노이</a></li>
								<li><a href="#">호치민</a></li>
								<li><a href="#">달랏</a></li>
							</div>
							<!--sheet03-->
						</ul>
						<!--소메뉴--></li>
					<!--베트남골프-->

					<div class="line03"></div>

					<li><a href="#">대만골프</a>
						<ul>
							<div class="sheet_04">
								<li><a href="#">타이페이/타이중</a></li>
								<li><a href="#">카오슝</a></li>
								<li><a href="#">화련</a></li>
							</div>
						</ul>
						<!--소메뉴--></li>
					<!--대만-->

					<div class="line04"></div>

					<li><a href="#">기획전/이벤트</a></li>
					<!--기획전/이벤트-->

					<div class="line05"></div>

					<li><a href="#">마이페이지</a></li>

					<div class="line06"></div>

					<li><a href="#">회원권/아카데미</a>
						<ul>
							<div class="sheet_05">
								<li><a href="#">회원권</a></li>
								<li><a href="#">아카데미</a></li>
							</div>
						</ul></li>

				</ul>
				<!--전체lnb-->

			</div>
			<!--lnb-->

			<div class="btn_sheet">
				<ul>
					<li><a href="../sub/sub.html">일본골프</a>
						<ul>
							<div class="sub_menu01">
								<li><a href="../sub/sub.html">도쿄/간도</a></li>
								<li><a href="#">오사카/간사이</a></li>
								<li><a href="#">홋카이도/삿포로</a></li>
								<li><a href="#">오키나와/나하</a></li>
								<li><a href="#">후쿠오카/야마구치</a></li>
								<li><a href="#">가고시마/미야자키</a></li>
								<li><a href="#">구마모토/오이타</a></li>
								<li><a href="#">나카사키/사가</a></li>
								<li><a href="#">아오모리/니카타</a></li>
								<li><a href="#">나고야/도카이</a></li>
								<li><a href="#">오카야마/츄고쿠</a></li>
								<li><a href="#">다카마츠.마츠아마</a></li>
							</div>
						</ul>
						<!--일본--></li>
					<!--일본-->

					<div class="line01">
						<div class="menu_line01"></div>
						<div class="menu_line02"></div>
					</div>

					<li><a href="#">태국골프</a>
						<ul>
							<div class="sub_menu02">
								<li><a href="#">방콕/파타야</a></li>
								<li><a href="#">치앙마이/치앙라이</a></li>
								<li><a href="#">푸켓</a></li>
								<li><a href="#">칸차나부리/아유타야</a></li>
								<li><a href="#">후아힌</a></li>
							</div>
						</ul>
						<!--태국--></li>
					<!--태국-->

					<div class="line02">
						<div class="menu_line03"></div>
						<div class="menu_line04"></div>
					</div>

					<li><a href="#">베트남골프</a>
						<ul>
							<div class="sub_menu03">
								<li><a href="#">나트랑</a></li>
								<li><a href="#">푸꾸옥</a></li>
								<li><a href="#">다낭</a></li>
								<li><a href="#">하노이</a></li>
								<li><a href="#">호치민</a></li>
								<li><a href="#">달랏</a></li>
							</div>
						</ul>
						<!--베트남--></li>
					<!--베트남-->

					<div class="line03">
						<div class="menu_line05"></div>
						<div class="menu_line06"></div>
					</div>

					<li><a href="#">대만골프</a>
						<ul>
							<div class="sub_menu04">
								<li><a href="#">가오슝</a></li>
								<li><a href="#">타이중</a></li>
								<li><a href="#">타이페이</a></li>
								<li><a href="#">신죽</a></li>
								<li><a href="#">타오위안</a></li>
								<li><a href="#">이란/화련</a></li>
							</div>
						</ul>
						<!--대만--></li>
					<!--대만-->

					<div class="line04">
						<div class="menu_line07"></div>
						<div class="menu_line08"></div>
					</div>

					<li><a href="#">회원권/아카데미</a>
						<ul>
							<div class="sub_menu05">
								<li><a href="#">회원권</a></li>
								<li><a href="#">아카데미</a></li>
							</div>
						</ul>
						<!--회원권--></li>
					<!--회원권-->

					<div class="line05">
						<div class="menu_line09"></div>
						<div class="menu_line10"></div>
					</div>


				</ul>
			</div>


		</div>
		<!--lnb_ex-->
	</div>
	<!--header-->


	<section class="sub">
		<div class="japen01">

			<div class="japen_menu">

				<div class="japen_title">
					<p>일본골프</p>
					<div>
						<img src="img/location.png">
					</div>
				</div>

				<div class="menu01">
					<a href="#">
						<p>도쿄/간도</p>
						<p>></p>
					</a>
				</div>

				<div class="menu02">
					<a href="#">
						<p>오사카/간사이</p>
						<p>></p>
					</a>
				</div>

				<div class="menu03">
					<a href="#">
						<p>오키나와/나하</p>
						<p>></p>
					</a>
				</div>

				<div class="menu04">
					<a href="#">
						<p>후쿠오카/야마구치</p>
						<p>></p>
					</a>
				</div>

				<div class="menu05">
					<a href="#">
						<p>가고시마/미야자키</p>
						<p>></p>
					</a>
				</div>

				<div class="menu06">
					<a href="#">
						<p>구마모토/오이타</p>
						<p>></p>
					</a>
				</div>

				<div class="menu07">
					<a href="#">
						<p>나카사키/사가</p>
						<p>></p>
					</a>
				</div>

				<div class="menu08">
					<a href="#">
						<p>아오모리/니카타</p>
						<p>></p>
					</a>
				</div>

				<div class="menu09">
					<a href="#">
						<p>나고야/도카이</p>
						<p>></p>
					</a>
				</div>

				<div class="menu10">
					<a href="#">
						<p>오카야마/츄고쿠</p>
						<p>></p>
					</a>
				</div>

				<div class="menu11">
					<a href="#">
						<p>다카마츠/마츠야마</p>
						<p>></p>
					</a>
				</div>

				<div class="japen_free">
					<a href="#"> <img src="img/free_japen.png">
					</a>
				</div>

			</div>
			<!--left-->

			<div class="right">

				<div class="location">
					<div>
						<img src="img/find.png">
					</div>

					<p>></p>

					<p>일본골프</p>

					<p>></p>

					<p>도쿄/간도</p>

					<p>></p>

					<p>총 15개 상품</p>

				</div>

				<div class="title_box">

					<div class="right_title">
						<p>도쿄/간도</p>
					</div>
					<!--타이틀-->


					<div class="button_menu">
						<div class="all">
							<a href="#">
								<p>전체</p>
							</a>
						</div>

						<div class="incheon">
							<a href="#">
								<p>인천출발</p>
							</a>
						</div>

						<div class="gimhae">
							<a href="#">
								<p>김해출발</p>
							</a>
						</div>

						<div class="daegu">
							<a href="#">
								<p>대구출발</p>
							</a>
						</div>

						<select>
							<option>인기순</option>
							<option>높은가격순</option>
							<option>낮은가격순</option>
						</select>
					</div>
				</div>
				<!--title_box-->


				<div class="line"></div>


				<div class="all_box">
					<div class="product_zon01">
						<div class="product01">
							<a href="#">
								<div>
									<img src="img/product01.png">
								</div>

								<div class="product_text_01">
									<p>인천출발 ></p>
									<p>태국/치앙마이</p>
									<p>치앙마이 아티타야 3박 5일</p>
									<p>1,090,000원~</p>
								</div>

								<div class="review_box_01">
									<div class="star01">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review01">

										<div class="talk01">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like01">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review01-->
								</div> <!--review_box_01-->
							</a>
						</div>
						<!--product_01-->

						<div class="product02">

							<a href="#">
								<div>
									<img src="img/product02.png">
								</div>

								<div class="product_text_02">
									<p>김해출발 ></p>
									<p>베트남/다낭</p>
									<p>다낭명품 3색골프 3박 5일</p>
									<p>1,290,000원~</p>
								</div>

								<div class="review_box_02">
									<div class="star02">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review02">

										<div class="talk02">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like02">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review02-->
								</div> <!--review_box_02-->
							</a>
						</div>
						<!--product_02-->

						<div class="product03">
							<a href="#">
								<div>
									<img src="img/product03.png">
								</div>

								<div class="product_text_03">
									<p>대구출발 ></p>
									<p>일본/북해도</p>
									<p>루스츠 골프리조트 4박 6일</p>
									<p>1,590,000원~</p>
								</div>

								<div class="review_box_03">
									<div class="star03">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review03">

										<div class="talk03">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like03">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review03-->
								</div> <!--review_box_03-->
							</a>
						</div>
						<!--product_03-->
					</div>
					<!--zon01-->

					<div class="product_zon02">
						<div class="product04">
							<a href="#">
								<div>
									<img src="img/product04.png">
								</div>

								<div class="product_text_04">
									<p>인천출발 ></p>
									<p>태국/치앙마이</p>
									<p>치앙마이 아티타야 3박 5일</p>
									<p>1,090,000원~</p>
								</div>

								<div class="review_box_04">
									<div class="star04">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review04">

										<div class="talk04">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like04">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review04-->
								</div> <!--review_box_04-->
							</a>
						</div>
						<!--product_04-->

						<div class="product05">

							<a href="#">
								<div>
									<img src="img/product05.png">
								</div>

								<div class="product_text_05">
									<p>김해출발 ></p>
									<p>베트남/다낭</p>
									<p>다낭명품 3색골프 3박 5일</p>
									<p>1,290,000원~</p>
								</div>

								<div class="review_box_05">
									<div class="star05">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review05">

										<div class="talk05">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like05">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review05-->
								</div> <!--review_box_05-->
							</a>
						</div>
						<!--product_05-->

						<div class="product06">
							<a href="#">
								<div>
									<img src="img/product06.png">
								</div>

								<div class="product_text_06">
									<p>대구출발 ></p>
									<p>일본/북해도</p>
									<p>루스츠 골프리조트 4박 6일</p>
									<p>1,590,000원~</p>
								</div>

								<div class="review_box_06">
									<div class="star06">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review06">

										<div class="talk06">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like06">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review06-->
								</div> <!--review_box_06-->
							</a>
						</div>
						<!--product_06-->
					</div>
					<!--zon02-->

					<div class="product_zon03">
						<div class="product07">
							<a href="#">
								<div>
									<img src="img/product07.png">
								</div>

								<div class="product_text_07">
									<p>인천출발 ></p>
									<p>태국/치앙마이</p>
									<p>치앙마이 아티타야 3박 5일</p>
									<p>1,090,000원~</p>
								</div>

								<div class="review_box_07">
									<div class="star07">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review07">

										<div class="talk07">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like07">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review07-->
								</div> <!--review_box_07-->
							</a>
						</div>
						<!--product_07-->

						<div class="product08">

							<a href="#">
								<div>
									<img src="img/product08.png">
								</div>

								<div class="product_text_08">
									<p>김해출발 ></p>
									<p>베트남/다낭</p>
									<p>다낭명품 3색골프 3박 5일</p>
									<p>1,290,000원~</p>
								</div>

								<div class="review_box_08">
									<div class="star08">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review08">

										<div class="talk08">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like08">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review08-->
								</div> <!--review_box_08-->
							</a>
						</div>
						<!--product_08-->

						<div class="product09">
							<a href="#">
								<div>
									<img src="img/product09.png">
								</div>

								<div class="product_text_09">
									<p>대구출발 ></p>
									<p>일본/북해도</p>
									<p>루스츠 골프리조트 4박 6일</p>
									<p>1,590,000원~</p>
								</div>

								<div class="review_box_09">
									<div class="star09">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review09">

										<div class="talk09">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like09">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review09-->
								</div> <!--review_box_09-->
							</a>
						</div>
						<!--product_09-->
					</div>
					<!--zon03-->

					<div class="product_zon04">
						<div class="product10">
							<a href="#">
								<div>
									<img src="img/product04.png">
								</div>

								<div class="product_text_10">
									<p>인천출발 ></p>
									<p>태국/치앙마이</p>
									<p>치앙마이 아티타야 3박 5일</p>
									<p>1,090,000원~</p>
								</div>

								<div class="review_box_10">
									<div class="star10">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review10">

										<div class="talk10">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like10">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review10-->
								</div> <!--review_box_10-->
							</a>
						</div>
						<!--product_10-->

						<div class="product11">

							<a href="#">
								<div>
									<img src="img/product05.png">
								</div>

								<div class="product_text_11">
									<p>김해출발 ></p>
									<p>베트남/다낭</p>
									<p>다낭명품 3색골프 3박 5일</p>
									<p>1,290,000원~</p>
								</div>

								<div class="review_box_11">
									<div class="star11">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review11">

										<div class="talk11">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like11">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review11-->
								</div> <!--review_box_11-->
							</a>
						</div>
						<!--product_11-->

						<div class="product12">
							<a href="#">
								<div>
									<img src="img/product06.png">
								</div>

								<div class="product_text_12">
									<p>대구출발 ></p>
									<p>일본/북해도</p>
									<p>루스츠 골프리조트 4박 6일</p>
									<p>1,590,000원~</p>
								</div>

								<div class="review_box_12">
									<div class="star12">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review12">

										<div class="talk12">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like12">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review12-->
								</div> <!--review_box_12-->
							</a>
						</div>
						<!--product_12-->
					</div>
					<!--zon04-->

					<div class="product_zon05">
						<div class="product13">
							<a href="#">
								<div>
									<img src="img/product07.png">
								</div>

								<div class="product_text_13">
									<p>인천출발 ></p>
									<p>태국/치앙마이</p>
									<p>치앙마이 아티타야 3박 5일</p>
									<p>1,090,000원~</p>
								</div>

								<div class="review_box_13">
									<div class="star13">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review13">

										<div class="talk13">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like13">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review13-->
								</div> <!--review_box_13-->
							</a>
						</div>
						<!--product_13-->

						<div class="product14">

							<a href="#">
								<div>
									<img src="img/product08.png">
								</div>

								<div class="product_text_14">
									<p>김해출발 ></p>
									<p>베트남/다낭</p>
									<p>다낭명품 3색골프 3박 5일</p>
									<p>1,290,000원~</p>
								</div>

								<div class="review_box_14">
									<div class="star14">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review14">

										<div class="talk14">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like14">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review14-->
								</div> <!--review_box_14-->
							</a>
						</div>
						<!--product_14-->

						<div class="product15">
							<a href="#">
								<div>
									<img src="img/product09.png">
								</div>

								<div class="product_text_15">
									<p>대구출발 ></p>
									<p>일본/북해도</p>
									<p>루스츠 골프리조트 4박 6일</p>
									<p>1,590,000원~</p>
								</div>

								<div class="review_box_15">
									<div class="star15">
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/star.png">
										</div>
										<div>
											<img src="img/02star.png">
										</div>
									</div>
									<!--star-->

									<div class="review15">

										<div class="talk09">
											<div>
												<img src="img/talk.png">
											</div>
											<p>203</p>
										</div>

										<div class="like15">
											<div>
												<img src="img/good.png">
											</div>
											<p>8.5</p>
										</div>

									</div>
									<!--review15-->
								</div> <!--review_box_15-->
							</a>
						</div>
						<!--product_15-->
					</div>
					<!--zon05-->
				</div>
				<!--all_box-->

				<div class="number_btn">
					<a href="#">
						<p><</p>
					</a> <a href="#">
						<p>1</p>
					</a> <a href="#">
						<p>2</p>
					</a> <a href="#">
						<p>3</p>
					</a> <a href="#">
						<p>4</p>
					</a> <a href="#">
						<p>5</p>
					</a> <a href="#">
						<p>6</p>
					</a> <a href="#">
						<p>7</p>
					</a> <a href="#">
						<p>></p>
					</a>
				</div>
			</div>
			<!--right-->
		</div>
	</section>

	<div class="freedom">
		<div class="country">
			<div>
				<a href="#">일본 자유골프→</a>
			</div>
			<div>
				<a href="#">태국 자유골프→</a>
			</div>
			<div>
				<a href="#">베트남 자유골프→</a>
			</div>
			<div>
				<a href="#">대만 자유골프→</a>
			</div>
		</div>
	</div>
	<!--자유골프-->

	<footer class="footer_ex">
		<div class="footer_top">
			<ul>
				<li><a href="#">회사소개</a></li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">여행약관</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">이메일무단수집거부</a></li>
				<li><a href="#">홈세일문의</a></li>
				<li><a href="#">제휴/홍보문의</a></li>
			</ul>
		</div>
		<!--top-->

		<div class="footer_middle">
			<div class="sns_zon">
				<div class="footer_logo">
					<a href="../index.html"> <img src="../img/footer_logo.png">
					</a>
				</div>

				<div class="sns">
					<div class="kakao">
						<a href="#"> <img src="../img/kakao.png">
						</a>
					</div>

					<div class="blog">
						<a href="#"> <img src="../img/blog.png">
						</a>
					</div>

					<div class="facebook">
						<a href="#"> <img src="../img/facebook.png">
						</a>
					</div>

					<div class="band">
						<a href="#"> <img src="../img/band.png">
						</a>
					</div>
				</div>
			</div>
			<!--sns_zon-->
		</div>
		<!--middle-->

		<div class="footer_bottom_ex">
			<div class="footer_bottom">
				<div class="company">
					<p>골프아이</p>
					<p>서울시 종로구 디지털로 26길 72,2층</p>
					<p>사업자번호 : 211-87-15370</p>
					<a href="#">사업자정보확인></a> <br>
					<p>통신판매업신고번호 : 2019-서울구로-0734</p>
					<p>대표이사 : 홍길동 개인정보보호책임자 : 홍길동</p>
					<a href="#">E-MAIL 문의></a><br>
					<p>copyright 1300k.com.ALL RIGHTS RESERVED. 상품 사진을 포함한 모든 콘텐츠는
						저작권법 제 98조에 의거해 보호를 받고 있습니다.</p>
				</div>
				<!--회사-->

				<div class="download">
					<a href="#">골프아이<span>APP</span>다운로드
					</a>
				</div>
			</div>
			<!--다운로드-->
		</div>
		<!--bottom_ex-->
	</footer>
</body>
</html>