* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

@font-face {
	font-family: yangpyeong;;
	src: url(../font/yangpyeong_B.ttf);
}

.detail_box {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.detail_box .detail {
	width: 1340px;
	margin: 0 auto;
}

.detail .route {
	width: 1340px;
	height: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

.route a, .route p, .route select {
	float: left;
}

.route p {
	font-size: 14px;
	line-height: 20px;
	margin-right: 5px;
	color: #333;
}

.route p:last-child {
	color: #e5004f;
}

.route a {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.route select {
	width: 120px;
	height: 20px;
	margin-right: 5px;
}

.detail .title_detail {
	width: 1340px;
	height: 40px;
	position: relative;
	font-family: yangpyeong;
}

.title_detail>p {
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	float: left;
}

.title_detail .icon_detail {
	float: right;
}

.icon_detail label {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	float: left;
}

.icon_detail label:last-child {
	margin-right: 0;
}

#call {
	display: none;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: block;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: none;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: none;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: none;
}

#talk {
	display: none;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: block;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: none;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: none;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: none;
}

#link {
	display: none;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: block;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: none;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: none;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: none;
}

#map {
	display: none;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: block;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: none;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: none;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: none;
}

.icon_detail .call_sheet {
	position: absolute;
	top: 61px;
	right: 40px;
	border: 1px solid #ccc;
	display: none;
}

.call_sheet p:first-child {
	width: 300px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	background-color: white;
}

.call_sheet p:last-child {
	width: 300px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: #333;
	font-size: 14px;
}

.detail .line01 {
	width: 1340px;
	height: 1px;
	background-color: #ccc;
	margin-top: 10px;
}

.icon_detail .talk_sheet {
	position: absolute;
	top: 61px;
	right: 0;
	border: 1px solid #ccc;
	display: none;
}

.talk_sheet div:nth-child(1) {
	width: 300px;
	height: 30px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	background-color: white;
	box-sizing: border-box;
}

.talk_sheet div:nth-child(1) p {
	margin-left: 5px;
	line-height: 30px;
}

.talk_sheet div:nth-child(2) {
	width: 300px;
	height: 350px;
	background-color: white;
}

.talk_sheet .talk_btn {
	width: 300px;
	height: 30px;
	background-color: #0d75bb;
}

.talk_btn a {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.talk_btn a img {
	margin-left: 5px;
	margin-top: 5px;
}

#talk_box {
	width: 220px;
	height: 20px;
	border: none;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#talk_btn {
	width: 35px;
	height: 20px;
	border: none;
	float: left;
	background-color: white;
	margin-top: 5px;
	color: #0d75bb;
}

.icon_detail .link_sheet {
	width: 210px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	top: 61px;
	right: 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: white;
	border-radius: 10px;
	display: none;
}

.link_sheet a {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.link_sheet a:nth-child(1) {
	margin-left: 10px;
}

.link_sheet a:last-child {
	margin-right: 0;
}

.icon_detail .map_sheet {
	width: 1340px;
	height: 600px;
	background-color: #ccc;
	position: absolute;
	top: 61px;
	left: 0;
	display: none;
}

.map_sheet .close {
	width: 19px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.detail .detail_img_box {
	width: 1340px;
	height: 450px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

.detail_img_box .detail_left {
	width: 660px;
	height: 450px;
	margin-right: 20px;
	background-color: #ccc;
	float: left;
}

.detail_img_box .detail_right {
	width: 660px;
	height: 450px;
	float: left;
}

.detail_right .explanation {
	width: 660px;
	height: 350px;
	margin-bottom: 20px;
}

/*골프*/
.explanation .golf {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.golf .golf_title {
	width: 200px;
	float: left;
}

.golf_title div, .golf_title p {
	float: left;
	line-height: 50px;
}

.golf_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.golf .course {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*호텔*/
.explanation .hotel {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.hotel .hotel_title {
	width: 200px;
	float: left;
}

.hotel_title div, .hotel_title p {
	float: left;
	line-height: 50px;
}

.hotel_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.hotel .hotel_name {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*최소인원*/
.explanation .people {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.people .people_title {
	width: 200px;
	float: left;
}

.people_title div, .people_title p {
	float: left;
	line-height: 50px;
}

.people_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.people .people_num {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*출발지역*/
.explanation .region {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.region .region_title {
	width: 200px;
	float: left;
}

.region_title div, .region_title p {
	float: left;
	line-height: 50px;
}

.region_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.region .region_course {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*도착지역*/
.explanation .arrival {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.arrival .arrival_title {
	width: 200px;
	float: left;
}

.arrival_title div, .arrival_title p {
	float: left;
	line-height: 50px;
}

.arrival_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.arrival .arrival_course {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*별점*/
.explanation .evaluation {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.evaluation .evaluation_title {
	width: 200px;
	float: left;
}

.evaluation_title div, .evaluation_title p {
	float: left;
	line-height: 50px;
}

.evaluation_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.evaluation .evaluation_s {
	width: 420px;
	float: left;
	line-height: 50px;
}

.evaluation_s p {
	float: left;
}

.evaluation_s p:last-child {
	float: right;
	margin-right: 10px;
}

/*최적가*/
.explanation .money {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.money .money_title {
	width: 200px;
	float: left;
}

.money_title div, .money_title p {
	float: left;
	line-height: 50px;
}

.money_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.money .money_num {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*이미지 작은 것*/
.detail_right .img_mini {
	width: 660px;
	height: 80px;
	overflow: hidden;
}

.img_mini div {
	width: 124px;
	height: 80px;
	background-color: #333;
	float: left;
	margin-right: 10px;
}

.img_mini div:last-child {
	margin-right: 0;
}

.detail .detail_menu_box {
	width: 1340px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 50px;
}

.detail_menu_box a {
	width: 300px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	color: #5e5e5e;
}

.detail_menu_box a:first-child {
	width: 300px;
	height: 50px;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
}

.detail_menu_box a:nth-child(2) {
	width: 300px;
	height: 50px;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
}

.detail_menu_box a:nth-child(3) {
	width: 300px;
	height: 50px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	box-sizing: border-box;
	font-weight: bold;
	color: #333;
}

.detail_menu_box .line01 {
	width: 440px;
	height: 1px;
	float: left;
	background-color: #333;
	margin-top: 49px;
}

/*리뷰*/
.detail .review_ex {
	width: 1340px;
	margin-bottom: 70px;
}

.review_ex>p {
	width: 1340px;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

.review_ex .review {
	width: 1340px;
	background-color: #f3f3f3;
	margin-bottom: 50px;
}

.review .review_box {
	width: 1300px;
	margin-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	overflow: hidden;
}

.review_box .review_left {
	float: left;
}

.review_left>p {
	margin-left: 20px;
	font-size: 14px;
	font-weight: 20px;
}

.review_left .reference {
	height: 20px;
	overflow: hidden;
	margin-bottom: 10px;
}

.reference div, .reference p {
	float: left;
}

.reference div {
	width: 15px;
	height: 16px;
	margin-top: 2px;
}

.reference p {
	font-weight: bold;
	line-height: 20px;
	margin-left: 5px;
}

.review_box a .review_right {
	width: 160px;
	height: 64px;
	background-color: #f49800;
	text-align: center;
	line-height: 64px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	float: right;
}

.review_ex .member_review {
	width: 1240px;
	margin: 0 auto;
}

.member_review a .review_m_01 {
	width: 1240px;
	color: #333;
}

.review_m_01 .review_top {
	width: 1240px;
	height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
}

.review_top div, .review_top p {
	float: left;
}

.review_top div {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.review_top p:nth-child(2) {
	font-size: 22px;
	font-weight: bold;
	color: #333;
	line-height: 40px;
	margin-right: 10px;
}

.review_top p:nth-child(3) {
	font-size: 14px;
	color: #333;
	margin-top: 16px;
}

.review_m_01>p {
	font-size: 14px;
	line-height: 25px;
}

.member_review .line_r_01 {
	width: 1240px;
	height: 1px;
	background-color: #ccc;
	margin-top: 20px;
	margin-bottom: 40px;
}

/*02*/
.member_review a .review_m_02 {
	width: 1240px;
	color: #333;
}

.review_m_02 .review_mid {
	width: 1240px;
	height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
}

.review_mid div, .review_mid p {
	float: left;
}

.review_mid div {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.review_mid p:nth-child(2) {
	font-size: 22px;
	font-weight: bold;
	color: #333;
	line-height: 40px;
	margin-right: 10px;
}

.review_mid p:nth-child(3) {
	font-size: 14px;
	color: #333;
	margin-top: 16px;
}

.review_m_02>p {
	font-size: 14px;
	line-height: 25px;
}

.member_review .line_r_02 {
	width: 1240px;
	height: 1px;
	background-color: #ccc;
	margin-top: 20px;
	margin-bottom: 40px;
}

/*03*/
.member_review a .review_m_03 {
	width: 1240px;
	color: #333;
}

.review_m_03 .review_bot {
	width: 1240px;
	height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
}

.review_bot div, .review_bot p {
	float: left;
}

.review_bot div {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.review_bot p:nth-child(2) {
	font-size: 22px;
	font-weight: bold;
	color: #333;
	line-height: 40px;
	margin-right: 10px;
}

.review_bot p:nth-child(3) {
	font-size: 14px;
	color: #333;
	margin-top: 16px;
}

.review_m_03>p {
	font-size: 14px;
	line-height: 25px;
}

.member_review .line_r_03 {
	width: 1240px;
	height: 1px;
	background-color: #ccc;
	margin-top: 20px;
}

.detail .number_btn {
	width: 260px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 100px;
}

.detail .number_btn a {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	float: left;
	margin-right: 10px;
}

.number_btn a:last-child {
	margin-right: 0;
}

.number_btn a:nth-child(2) {
	color: #e5004f;
}