* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

.detail_box {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.detail_box .detail {
	width: 1340px;
	margin: 0 auto;
}

.detail .route {
	width: 1340px;
	height: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

.route a, .route p, .route select {
	float: left;
}

.route p {
	font-size: 14px;
	line-height: 20px;
	margin-right: 5px;
	color: #333;
}

.route p:last-child {
	color: #e5004f;
}

.route a {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.route select {
	width: 120px;
	height: 20px;
	margin-right: 5px;
}

.detail .title_detail {
	width: 1340px;
	height: 40px;
	position: relative;
}

.title_detail>p {
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	float: left;
}

.title_detail .icon_detail {
	float: right;
}

.icon_detail label {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	float: left;
}

.icon_detail label:last-child {
	margin-right: 0;
}

#call {
	display: none;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: block;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: none;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: none;
}

#call:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: none;
}

#talk {
	display: none;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: block;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: none;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: none;
}

#talk:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: none;
}

#link {
	display: none;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: block;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: none;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: none;
}

#link:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: none;
}

#map {
	display: none;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .map_sheet
	{
	display: block;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .call_sheet
	{
	display: none;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .link_sheet
	{
	display: none;
}

#map:checked ~ .detail_box .detail .title_detail .icon_detail .talk_sheet
	{
	display: none;
}

.icon_detail .call_sheet {
	position: absolute;
	top: 61px;
	right: 40px;
	border: 1px solid #ccc;
	display: none;
}

.call_sheet p:first-child {
	width: 300px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	background-color: white;
}

.call_sheet p:last-child {
	width: 300px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: #333;
	font-size: 14px;
}

.detail .line01 {
	width: 1340px;
	height: 1px;
	background-color: #ccc;
	margin-top: 10px;
}

.icon_detail .talk_sheet {
	position: absolute;
	top: 61px;
	right: 0;
	border: 1px solid #ccc;
	display: none;
}

.talk_sheet div:nth-child(1) {
	width: 300px;
	height: 30px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	background-color: white;
	box-sizing: border-box;
}

.talk_sheet div:nth-child(1) p {
	margin-left: 5px;
	line-height: 30px;
}

.talk_sheet div:nth-child(2) {
	width: 300px;
	height: 350px;
	background-color: white;
}

.talk_sheet .talk_btn {
	width: 300px;
	height: 30px;
	background-color: #0d75bb;
}

.talk_btn a {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.talk_btn a img {
	margin-left: 5px;
	margin-top: 5px;
}

#talk_box {
	width: 220px;
	height: 20px;
	border: none;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#talk_btn {
	width: 35px;
	height: 20px;
	border: none;
	float: left;
	background-color: white;
	margin-top: 5px;
	color: #0d75bb;
}

.icon_detail .link_sheet {
	width: 210px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	top: 61px;
	right: 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: white;
	border-radius: 10px;
	display: none;
}

.link_sheet a {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.link_sheet a:nth-child(1) {
	margin-left: 10px;
}

.link_sheet a:last-child {
	margin-right: 0;
}

.icon_detail .map_sheet {
	width: 1340px;
	height: 600px;
	background-color: #ccc;
	position: absolute;
	top: 61px;
	left: 0;
	display: none;
}

.map_sheet .close {
	width: 19px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.detail .detail_img_box {
	width: 1340px;
	height: 450px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

.detail_img_box .detail_left {
	width: 660px;
	height: 450px;
	margin-right: 20px;
	background-color: #ccc;
	float: left;
}

.detail_img_box .detail_right {
	width: 660px;
	height: 450px;
	float: left;
}

.detail_right .explanation {
	width: 660px;
	height: 350px;
	margin-bottom: 20px;
}

/*골프*/
.explanation .golf {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.golf .golf_title {
	width: 200px;
	float: left;
}

.golf_title div, .golf_title p {
	float: left;
	line-height: 50px;
}

.golf_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.golf .course {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*호텔*/
.explanation .hotel {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.hotel .hotel_title {
	width: 200px;
	float: left;
}

.hotel_title div, .hotel_title p {
	float: left;
	line-height: 50px;
}

.hotel_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.hotel .hotel_name {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*최소인원*/
.explanation .people {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.people .people_title {
	width: 200px;
	float: left;
}

.people_title div, .people_title p {
	float: left;
	line-height: 50px;
}

.people_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.people .people_num {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*출발지역*/
.explanation .region {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.region .region_title {
	width: 200px;
	float: left;
}

.region_title div, .region_title p {
	float: left;
	line-height: 50px;
}

.region_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.region .region_course {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*도착지역*/
.explanation .arrival {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.arrival .arrival_title {
	width: 200px;
	float: left;
}

.arrival_title div, .arrival_title p {
	float: left;
	line-height: 50px;
}

.arrival_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.arrival .arrival_course {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*별점*/
.explanation .evaluation {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.evaluation .evaluation_title {
	width: 200px;
	float: left;
}

.evaluation_title div, .evaluation_title p {
	float: left;
	line-height: 50px;
}

.evaluation_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.evaluation .evaluation_s {
	width: 420px;
	float: left;
	line-height: 50px;
}

.evaluation_s p {
	float: left;
}

.evaluation_s p:last-child {
	float: right;
	margin-right: 10px;
}

/*최적가*/
.explanation .money {
	width: 620px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.money .money_title {
	width: 200px;
	float: left;
}

.money_title div, .money_title p {
	float: left;
	line-height: 50px;
}

.money_title div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.money .money_num {
	width: 420px;
	float: left;
	line-height: 50px;
}

/*이미지 작은 것*/
.detail_right .img_mini {
	width: 660px;
	height: 80px;
	overflow: hidden;
}

.img_mini div {
	width: 124px;
	height: 80px;
	background-color: #333;
	float: left;
	margin-right: 10px;
}

.img_mini div:last-child {
	margin-right: 0;
}

.detail .detail_menu_box {
	width: 1340px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 50px;
}

.detail_menu_box a {
	width: 300px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	color: #5e5e5e;
}

.detail_menu_box a:first-child {
	width: 300px;
	height: 50px;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
}

.detail_menu_box a:nth-child(2) {
	width: 300px;
	height: 50px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	box-sizing: border-box;
	font-weight: bold;
	color: #333;
}

.detail_menu_box a:nth-child(3) {
	width: 300px;
	height: 50px;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
}

.detail_menu_box .line01 {
	width: 440px;
	height: 1px;
	float: left;
	background-color: #333;
	margin-top: 49px;
}

.detail .grade_box {
	width: 1240px;
	height: 90px;
	margin-left: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

.grade_box .grade01, .grade_box .grade02, .grade_box .grade03,
	.grade_box .grade04, .grade_box .grade05, .grade_box .grade06 {
	width: 190px;
	height: 90px;
	float: left;
	margin-right: 20px;
}

.grade_box .grade06 {
	margin-right: 0;
}

.grade01>p:nth-child(1) {
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	color: #5e5e5e;
	margin-bottom: 10px;
}

.grade01 span {
	font-size: 30px;
	color: #0d75bb;
}

.grade01 .star01 {
	width: 100px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
	overflow: hidden;
}

.star01 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade01>p:last-child {
	font-size: 14px;
	text-align: center;
}

.grade02 p:nth-child(1) {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: #0d75bb;
	font-weight: bold;
	margin-bottom: 30px;
}

.grade02 p:nth-child(2) {
	width: 190px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	background-color: #ddddde;
	border-radius: 10px;
}

.grade03 p:nth-child(1) {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: #0d75bb;
	font-weight: bold;
	margin-bottom: 30px;
}

.grade03 p:nth-child(2) {
	width: 190px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	background-color: #ddddde;
	border-radius: 10px;
}

.grade04 p:nth-child(1) {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: #0d75bb;
	font-weight: bold;
	margin-bottom: 30px;
}

.grade04 p:nth-child(2) {
	width: 190px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	background-color: #ddddde;
	border-radius: 10px;
}

.grade05 p:nth-child(1) {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: #0d75bb;
	font-weight: bold;
	margin-bottom: 30px;
}

.grade05 p:nth-child(2) {
	width: 190px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	background-color: #ddddde;
	border-radius: 10px;
}

.grade06 p:nth-child(1) {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: #0d75bb;
	font-weight: bold;
	margin-bottom: 30px;
}

.grade06 p:nth-child(2) {
	width: 190px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	background-color: #ddddde;
	border-radius: 10px;
}

/*상품 리뷰 등록*/
.detail .type01 {
	width: 1340px;
	margin-bottom: 80px;
}

.type01>p:nth-child(1) {
	width: 1340px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

.type01 span {
	color: #e5004f;
}

.type01 .line_type {
	width: 1340px;
	height: 2px;
	background-color: #333;
}

.type01 .type_box {
	width: 1340px;
	background-color: #efeff0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.type_box>p:nth-child(1) {
	width: 1280px;
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	font-weight: bold;
	margin-left: 30px;
}

.type_box>p:nth-child(2) {
	width: 1280px;
	margin-left: 48px;
	line-height: 20px;
	font-size: 14px;
}

.type_box>p:nth-child(3) {
	width: 1280px;
	height: 20px;
	font-size: 14px;
	margin-left: 30px;
	text-align: right;
	line-height: 20px;
	color: red;
	margin-bottom: 10px;
}

.type_box .typing {
	width: 1280px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.typing .grade_right01 {
	width: 625px;
	height: 130px;
	margin-right: 30px;
	border: 1px solid #ccc;
	background-color: white;
	box-sizing: border-box;
	float: left;
}

.typing #text01 {
	width: 622px;
	height: 130px;
	float: left;
	overflow-y: scroll;
}

.grade_right01 .grade_box_t {
	width: 583px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.grade_box_t .typing01 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.typing01>p:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.typing01 .typing_st_01 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.typing_st_01 div {
	width: 20px;
	height: 20px;
	float: left;
}

.typing01>p:last-child {
	width: 80px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
	background-color: #d6d6d6;
	border-radius: 10px;
}

/*02*/
.grade_box_t .typing02 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.typing02>p:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.typing02 .typing_st_02 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.typing_st_02 div {
	width: 20px;
	height: 20px;
	float: left;
}

.typing02>p:last-child {
	width: 80px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
	background-color: #d6d6d6;
	border-radius: 10px;
}

/*03*/
.grade_box_t .typing03 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.typing03>p:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.typing03 .typing_st_03 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.typing_st_03 div {
	width: 20px;
	height: 20px;
	float: left;
}

.typing03>p:last-child {
	width: 80px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
	background-color: #d6d6d6;
	border-radius: 10px;
}

/*04*/
.grade_box_t .typing04 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.typing04>p:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.typing04 .typing_st_04 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.typing_st_04 div {
	width: 20px;
	height: 20px;
	float: left;
}

.typing04>p:last-child {
	width: 80px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
	background-color: #d6d6d6;
	border-radius: 10px;
}

/*05*/
.grade_box_t .typing05 {
	width: 108.6px;
	float: left;
}

.typing05>p:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.typing05 .typing_st_05 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.typing_st_05 div {
	width: 20px;
	height: 20px;
	float: left;
}

.typing05>p:last-child {
	width: 80px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
	background-color: #d6d6d6;
	border-radius: 10px;
}

.type_box .typing_btn {
	width: 220px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}

#subnit_t, #reset_t {
	width: 100px;
	height: 40px;
	float: left;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
}

#subnit_t {
	margin-right: 20px;
	background-color: #0d75bb;
	color: white;
}

#reset_t {
	background-color: #f6f6f6;
}

.detail .review_box {
	width: 1340px;
	margin-bottom: 80px;
}

.review_box .review_01 {
	width: 1340px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: 50px;
	overflow: hidden;
}

.review_01 .left_rev_01, .review_01 .right_rev_01 {
	width: 625px;
	float: left;
}

.review_01 .right_rev_01 {
	margin-bottom: 30px;
}

.right_rev_01>p {
	width: 625px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: red;
	text-align: right;
}

#text02 {
	width: 623px;
	height: 180px;
	overflow-y: scroll;
}

.review_01 .left_rev_01 {
	margin-left: 30px;
	margin-right: 30px;
}

.left_rev_01 .grade_re_top01 {
	width: 625px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 30px;
}

.grade_re_top01 .name_left01, .grade_re_top01 .name_right01 {
	float: left;
}

.name_left01 {
	width: 250px;
}

.name_left01 p:nth-child(1) {
	width: 250px;
	height: 30px;
	font-weight: bold;
	line-height: 30px;
}

.name_left01 p:nth-child(2) {
	width: 250px;
	height: 20px;
	font-size: 14px;
}

.name_right01 {
	width: 375px;
	height: 50px;
	margin-top: -7px;
}

.grade_re_box01 {
	overflow: hidden;
}

.grade_re_box01 .grade_num01 {
	width: 100px;
	height: 30px;
	font-size: 24px;
	color: #5e5e5e;
	font-weight: bold;
	float: left;
}

.grade_num01 span {
	font-size: 30px;
	color: #0d75bb;
}

.name_right01 .grade_star01 {
	width: 100px;
	height: 20px;
	margin-top: 14px;
	float: left;
}

.grade_star01 div {
	width: 20px;
	height: 20px;
	float: left;
}

.name_right01 .bottom_txt01 {
	font-size: 14px;
	margin-top: 5px;
}

.left_rev_01 .grade_re_bot01 {
	width: 625px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.grade_re_bot01 .golf_grade_box01 {
	width: 583px;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	overflow: hidden;
}

.golf_grade_box01 .grade_g01 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.grade_g01 p:nth-child(1) {
	width: 108.6px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.grade_g01 .golf_star01 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.golf_star01 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade_g01 p:nth-child(3) {
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #d6d6d6;
	border-radius: 5px;
	margin: 0 auto;
}

.golf_grade_box01 .grade_g02, .golf_grade_box01 .grade_g03,
	.golf_grade_box01 .grade_g04 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.grade_g02 p:nth-child(1), .grade_g03 p:nth-child(1), .grade_g04 p:nth-child(1)
	{
	width: 108.6px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.grade_g02 .golf_star02, .grade_g03 .golf_star03, .grade_g04 .golf_star04
	{
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.golf_star02 div, .golf_star03 div, .golf_star04 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade_g02 p:nth-child(3), .grade_g03 p:nth-child(3), .grade_g04 p:nth-child(3)
	{
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #d6d6d6;
	border-radius: 5px;
	margin: 0 auto;
}

.golf_grade_box01 .grade_g05 {
	width: 108.6px;
	float: left;
}

.grade_g05 p:nth-child(1) {
	width: 108.6px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.grade_g05 .golf_star05 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.golf_star05 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade_g05 p:nth-child(3) {
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #d6d6d6;
	border-radius: 5px;
	margin: 0 auto;
}

/*리뷰02*/
.review_box .review_02 {
	width: 1340px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
}

.review_02 .left_rev_02, .review_02 .right_rev_02 {
	width: 625px;
	float: left;
}

.review_02 .right_rev_02 {
	margin-bottom: 30px;
}

.right_rev_02>p {
	width: 625px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: red;
	text-align: right;
}

#text03 {
	width: 623px;
	height: 180px;
	overflow-y: scroll;
}

.review_02 .left_rev_02 {
	margin-left: 30px;
	margin-right: 30px;
}

.left_rev_02 .grade_re_top02 {
	width: 625px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 30px;
}

.grade_re_top02 .name_left02, .grade_re_top02 .name_right02 {
	float: left;
}

.name_left02 {
	width: 250px;
}

.name_left02 p:nth-child(1) {
	width: 250px;
	height: 30px;
	font-weight: bold;
	line-height: 30px;
}

.name_left02 p:nth-child(2) {
	width: 250px;
	height: 20px;
	font-size: 14px;
}

.name_right02 {
	width: 375px;
	height: 50px;
	margin-top: -7px;
}

.grade_re_box02 {
	overflow: hidden;
}

.grade_re_box02 .grade_num02 {
	width: 100px;
	height: 30px;
	font-size: 24px;
	color: #5e5e5e;
	font-weight: bold;
	float: left;
}

.grade_num02 span {
	font-size: 30px;
	color: #0d75bb;
}

.name_right02 .grade_star02 {
	width: 100px;
	height: 20px;
	margin-top: 14px;
	float: left;
}

.grade_star02 div {
	width: 20px;
	height: 20px;
	float: left;
}

.name_right02 .bottom_txt02 {
	font-size: 14px;
	margin-top: 5px;
}

.left_rev_02 .grade_re_bot02 {
	width: 625px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.grade_re_bot02 .golf_grade_box02 {
	width: 583px;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	overflow: hidden;
}

.golf_grade_box02 .grade_g06 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.grade_g06 p:nth-child(1) {
	width: 108.6px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.grade_g06 .golf_star06 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.golf_star06 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade_g06 p:nth-child(3) {
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #d6d6d6;
	border-radius: 5px;
	margin: 0 auto;
}

.golf_grade_box02 .grade_g07, .golf_grade_box02 .grade_g08,
	.golf_grade_box02 .grade_g09 {
	width: 108.6px;
	margin-right: 10px;
	float: left;
}

.grade_g07 p:nth-child(1), .grade_g08 p:nth-child(1), .grade_g09 p:nth-child(1)
	{
	width: 108.6px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.grade_g07 .golf_star07, .grade_g08 .golf_star08, .grade_g09 .golf_star09
	{
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.golf_star07 div, .golf_star08 div, .golf_star09 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade_g07 p:nth-child(3), .grade_g08 p:nth-child(3), .grade_g09 p:nth-child(3)
	{
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #d6d6d6;
	border-radius: 5px;
	margin: 0 auto;
}

.golf_grade_box02 .grade_g10 {
	width: 108.6px;
	float: left;
}

.grade_g10 p:nth-child(1) {
	width: 108.6px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.grade_g10 .golf_star10 {
	width: 100px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.golf_star10 div {
	width: 20px;
	height: 20px;
	float: left;
}

.grade_g10 p:nth-child(3) {
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #d6d6d6;
	border-radius: 5px;
	margin: 0 auto;
}

.detail .number_btn {
	width: 260px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 100px;
}

.detail .number_btn a {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	float: left;
	margin-right: 10px;
}

.number_btn a:last-child {
	margin-right: 0;
}

.number_btn a:nth-child(2) {
	color: #e5004f;
}