*{margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

body 
{font-family: SpoqaHanSansNeo;}




.id_find_box
{width: 100%; max-width: 1920px; min-width: 1195px;
margin: 0 auto;}

.id_find_box .id_find
{width: 540px; height: 550px;
background-color: white;
margin: 0 auto;}

.id_find>p
{width: 540px; height: 100px;
text-align: center; line-height: 100px;
font-size: 24px; font-weight: bold;}

.id_find .find_box
{width: 440px; height: 50px;
margin-left: 50px; margin-bottom: 50px;
overflow: hidden;}

.find_box a .id_f
{width: 220px; height: 50px;
background-color: #333; color: white;
text-align: center; line-height: 50px;
font-weight: bold;
float: left;}

.find_box a .password_f
{width: 220px; height: 50px;
background-color: #afafaf; color: white;
text-align: center; line-height: 50px;
font-weight: bold;
float: left;}

.find_box a {color: white;}

.id_find .find_number_box 
{width: 440px;
border-top: 1px solid #ccc; 
border-bottom: 1px solid #ccc; 
box-sizing: border-box;
margin: 0 auto;}

.find_number_box .find_text
{width: 440px; height: 50px;
line-height: 50px;
font-size: 14px;}

.find_text p {margin-left: 10px;}

.number_select
{width: 440px; height: 50px;
overflow: hidden;
margin-bottom: 20px;}

.number_select select
{width: 120px; height: 50px;
margin-right: 10px;
float: left;}

#phone
{width: 300px; height: 46px;
float: left;}

.find_number_box .number_chk_box
{width: 440px; height: 50px;
margin-bottom: 50px;
overflow: hidden;}

#certification
{width: 300px; height: 46px;
float: left;
margin-right: 10px;}

.number_chk_box a .certification_btn
{width: 120px; height: 50px;
float: left;
background-color: #333; color: white;
text-align: center; line-height: 50px;
font-size: 14px;}

#confirm
{width: 440px; height: 60px;
margin-bottom: 20px; font-family: SpoqaHanSansNeo;
background-color: #333;
text-align: center; line-height: 60px;
font-weight: bold;
color: white;
font-size: 16px;}

