* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

body 
{font-family: SpoqaHanSansNeo;}

section
{width: 100%; min-width: 1195px; max-width: 1920px;
margin: 0 auto;}

.id_box
{width: 540px; height: 400px;
background-color: white;
margin: 0 auto;}

.id_box>p:nth-child(1)
{width: 540px; height: 100px;
font-size: 24px; line-height: 100px; text-align: center; font-weight: bold;}

.id_box .find
{width: 440px; height: 170px;
margin: 0 auto;
margin-bottom: 30px;}

.find .logo
{width: 440px; height: 80px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
background-color: #f7f7f7;
margin-bottom: 10px;}

.logo div
{width: 167px; height: 50px;
margin: 0 auto;
margin-top: 15px;}

.find .id
{width: 440px; height: 80px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
background-color: #f7f7f7;}

.id>p
{font-size: 14px; line-height: 70px; text-align: center;}

.id span
{text-decoration: underline;
font-weight: bold;}

.id_box a:last-child p
{width: 440px; height: 60px;
margin: 0 auto;
text-align: center; line-height: 60px;
color: white; background-color: #444444;}