*{margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

body 
{font-family: SpoqaHanSansNeo;}

.join
{width: 100%; 
max-width: 1920px; min-width: 1195px;
margin: 0 auto;}

.join .join_box
{width: 450px;
position: relative;
margin: 0 auto;
margin-bottom: 50px;}

.join_box>p
{width: 450px; height: 100px;
font-size: 32px; line-height: 100px;
text-align: center; font-weight: bold;}

.join_box .line01
{width: 450px; height: 1px;
background-color: #ccc;
margin-top: 20px;}

#name, #password01, #password02
{width: 450px; height: 50px;
border-radius: 5px;
border: 1px solid #ccc; box-sizing: border-box;
margin-bottom: 10px;}

#password02 {margin-bottom: 0;}

.join_box .join_us
{width: 450px; height: 50px;
margin-bottom: 10px;
overflow: hidden;}

#email
{width: 350px; height: 50px;
border-radius: 5px;
border: 1px solid #ccc; box-sizing: border-box;
float: left;}

#check_btn
{width: 90px; height: 50px;
border-radius: 5px;
background-color: #333; font-family: SpoqaHanSansNeo;
text-align: center; line-height: 50px;
font-size: 14px; color: white;
display: block;
float: right;}

.join_box .join_btn
{width: 450px; height: 50px;
margin-top: 20px;
margin-bottom: 20px;
overflow: hidden;}

.join_btn a
{width: 215px; height: 50px;
float: left;
margin-right: 20px;
background-color: #0d75bc;
border-radius: 5px;
text-align: center; line-height: 50px;
font-size: 18px; font-weight: bold;
color: white;}

#join
{width: 215px; height: 50px;
float: left; 
background-color: #eb3544;
border-radius: 5px;
text-align: center; line-height: 50px;
font-size: 18px; font-weight: bold;
color: white;
border: none;}

.join_box .line02
{width: 450px; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

.join_box a .naver_join
{width: 450px; height: 50px;
background-color:#00d700;
border-radius: 5px;
margin-bottom: 10px;
overflow: hidden;}

.naver_join div, .naver_join p {float: left;}

.naver_join div
{width: 30px; height: 30px;
margin-left: 10px;
margin-top: 10px;}

.naver_join p
{line-height: 50px;
margin-left: 10px;
color: white; font-weight: bold;}

.join_box a .kakao_join
{width: 450px; height: 50px;
background-color:#ffde00;
border-radius: 5px;
margin-bottom: 20px;
overflow: hidden;}

.kakao_join div
{width: 30px; height: 30px;
margin-left: 10px;
margin-top: 10px;
float: left;}

.kakao_join p
{line-height: 50px;
margin-left: 10px;
color: #381c02; font-weight: bold;
float: left;}
