* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
 
img {
	display: block;
}

/*헤더*/
#menu_btn {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_01 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_02 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_03 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_04 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_05 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .btn_sheet {
	height: 470px;
}

.header {
	width: 100%;
	max-width: 1920px;
	position: relative;
	margin: 0 auto;
}

.header_top {
	width: 100%;
	background-color: #0d75bc;
}

/*즐겨찾기,예약확인*/
.header_top .button {
	width: 1132px;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
}

.button .favorites {
	width: 160px;
	height: 40px;
	margin-top: 10px;
	background-color: white;
	float: left;
	border-radius: 20px 20px 0 0;
}

.favorites p, .resercation p {
	text-align: center;
	line-height: 40px;
}

.button .resercation {
	width: 160px;
	height: 40px;
	border-radius: 20px 20px 0 0;
	margin-top: 10px;
	margin-left: 10px;
	background-color: white;
	float: left;
}

.favorites p a, .resercation p a {
	color: #0d75bc;
}

.header .header_middle {
	width: 1132px;
	height: 140px;
	margin: 0 auto;
}

.header_middle .middle_top {
	width: 1132px;
	height: 85px;
	margin: 0 auto;
	overflow: hidden;
}

.middle_top .logo {
	width: 180px;
	height: 85px;
	margin-right: 205px;
	float: left;
}

.middle_top .search {
	width: 300px;
	height: 40px;
	margin-right: 200px;
	margin-top: 22.5px;
	background-image: url(../img/search.png);
	float: left;
}

.search .calendar {
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 15px;
	float: left;
}

.search .qna_button {
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 12px;
	float: right;
}

.header_middle .call_header {
	width: 142px;
	height: 40px;
	margin-top: 22.5px;
	float: left;
}

.header_middle .login_btn {
	width: 90px;
	height: 40px;
	margin-top: 22.5px;
	margin-left: 10px;
	float: right;
}

.login_btn .login, .login_btn label {
	width: 40px;
	height: 40px;
	float: left;
}

.login_btn .login {
	margin-right: 10px;
}

.header_middle .middle_bottom {
	width: 710px;
	height: 55px;
	margin: 0 auto;
	overflow: hidden;
}

.middle_bottom div {
	width: 100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50px;
	background-color: #ccc;
}

.middle_bottom div a {
	color: #4b4b4b;
}

.middle_bottom div:nth-child(2) {
	width: 130px;
}

.middle_bottom div:nth-child(4) {
	width: 130px;
}

.middle_bottom div:last-child {
	margin-right: 0;
}

/*버튼 눌렀을 때 전체 메뉴*/
.lnb_ex .btn_sheet {
	width: 100%;
	max-width: 1920px;
	height: 0;
	transition: all 0.3s;
	background-color: white;
	overflow: hidden;
	position: relative;
	z-index: 999;
}

.lnb_ex a {
	color: #333333;
}

.lnb_ex a:hover {
	color: #0d75bc;
}

.btn_sheet>ul {
	width: 1132px;
	margin: 50px auto;
}

.btn_sheet>ul>li>a, .btn_sheet .sub_menu01 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu01 {
	width: 980px;
	height: 60px;
}

.sub_menu01 li {
	width: 140px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line01 {
	width: 1132px;
	height: 22px;
}

.line01 .menu_line01 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line01 .menu_line02 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu02 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu02 {
	width: 980px;
	height: 60px;
}

.sub_menu02 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line02 {
	width: 1132px;
	height: 22px;
}

.line02 .menu_line03 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line02 .menu_line04 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu03 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu03 {
	width: 980px;
	height: 60px;
}

.sub_menu03 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line03 {
	width: 1132px;
	height: 22px;
}

.line03 .menu_line05 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line03 .menu_line06 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu04 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu04 {
	width: 980px;
	height: 60px;
}

.sub_menu04 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line04 {
	width: 1132px;
	height: 22px;
}

.line04 .menu_line07 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line04 .menu_line08 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu05 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu05 {
	width: 980px;
	height: 60px;
}

.sub_menu05 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line05 {
	width: 1132px;
	height: 22px;
}

.line05 .menu_line09 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line05 .menu_line10 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

/*메뉴*/
.lnb_ex {
	width: 100%;
	height: 75px;
	background-color: #0d75bc;
}

.lnb_ex .lnb {
	width: 1132px;
	margin: 0 auto;
	overflow: hidden;
}

.lnb>ul>li {
	width: 160.8px;
	text-align: center;
	line-height: 75px;
	float: left;
}

.lnb>ul>div {
	float: left;
	width: 1px;
	height: 16px;
	background-color: white;
	margin-top: 29.5px;
}

.lnb>ul>li>a {
	color: white;
}

.lnb>ul>li>a:hover {
	color: white;
}

.lnb .sheet_01 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_01 {
	height: 600px;
}

.lnb .sheet_02 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_02 {
	height: 250px;
}

.lnb .sheet_03 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_03 {
	height: 300px;
}

.lnb .sheet_04 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_04 {
	height: 150px;
}

.lnb .sheet_05 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_05 {
	height: 600px;
}

.lnb>ul>li>ul>div>li {
	width: 160.8px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: white;
	position: relative;
	z-index: 999;
}

.lnb>ul>li>ul>div>li>a {
	color: black;
	font-size: 14px;
}

.lnb>ul>li>ul>div>li>a:hover {
	color: #0d75bc;
}

#character {
	display: none;
}

#character:checked ~ .join .join_box .pop_up_ex {
	display: block;
}

.join {
	width: 100%;
	max-width: 1920px;
	height: 800px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.join .join_box {
	width: 450px;
	position: relative;
}

.join_box>p {
	width: 450px;
	height: 90px;
	font-size: 32px;
	line-height: 90px;
	text-align: center;
	font-weight: bold;
}

.join_box .line01 {
	width: 450px;
	height: 1px;
	background-color: #ccc;
	margin-top: 20px;
}

#name, #password01, #password02 {
	width: 450px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#password02 {
	margin-bottom: 0;
}

.join_box .join_us {
	width: 450px;
	height: 50px;
	margin-bottom: 10px;
	overflow: hidden;
}

#email {
	width: 350px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
}

#check_btn {
	width: 90px;
	height: 50px;
	border-radius: 5px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: white;
	display: block;
	float: right;
}

.join_box .join_btn {
	width: 450px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.join_btn label {
	width: 215px;
	height: 50px;
	float: left;
	margin-right: 20px;
	background-color: #0d75bc;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#join {
	width: 215px;
	height: 50px;
	float: left;
	background-color: #eb3544;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border: none;
}

.join_box .line02 {
	width: 450px;
	height: 1px;
	background-color: #ccc;
	margin-bottom: 20px;
}

/* .join_box a .naver_join */
#naver_id_login {
	width: 450px;
	height: 50px;
	background-color: #00d700;
	border-radius: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}

.naver_join div, .naver_join p {
	float: left;
}

.naver_join div {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}

.naver_join p {
	line-height: 50px;
	margin-left: 10px;
	color: white;
	font-weight: bold;
}

/* .join_box a .kakao_join */
/* {width: 450px; height: 50px;
background-color:#ffde00;
border-radius: 5px;
margin-bottom: 20px;
overflow: hidden;} */

.kakao_join {
	width: 450px;
	height: 50px;
	background-color: #ffde00;
	border-radius: 5px;
	margin-bottom: 20px;
	overflow: hidden;
}

.kakao_join div {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

.kakao_join p {
	line-height: 50px;
	margin-left: 10px;
	color: #381c02;
	font-weight: bold;
	float: left;
}

.join_box .pop_up_ex {
	width: 480px;
	height: 524px;
	background-color: white;
	border: 1px solid #ccc;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -262px;
	margin-left: -240px;
	overflow: hidden;
	display: none;
}

#btn01, #btn02, #btn03, #btn04 {
	display: none;
}

#btn05, #btn06, #btn07, #btn08 {
	display: none;
}

#btn09, #btn10, #btn11, #btn12 {
	display: none;
}

#btn13, #btn14, #btn15, #btn16 {
	display: none;
}

.pop_up_ex .pop_up {
	width: 400px;
	margin: 0 auto;
}

.pop_up>p:nth-child(1) {
	width: 400px;
	height: 80px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
}

.pop_up>p:nth-child(2) {
	width: 400px;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}

.pop_up .line03 {
	width: 410px;
	height: 2px;
	background-color: #ccc;
}

.pop_up .character_box {
	width: 410px;
	height: 320px;
	background-color: #f7f7f7;
	overflow: auto;
}

.character_box .line_c_01 {
	width: 380px;
	height: 80px;
	overflow: hidden;
	margin-left: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.line_c_01 label {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 20px;
}

.line_c_01 label:last-child {
	margin-right: 0;
}

.character_box .line_c_02 {
	width: 380px;
	height: 80px;
	margin-left: 8px;
	overflow: hidden;
	margin-bottom: 20px;
}

.line_c_02 label {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 20px;
}

.line_c_02 label:last-child {
	margin-right: 0;
}

.character_box .line_c_03, .character_box .line_c_04 {
	width: 380px;
	height: 80px;
	margin-left: 8px;
	overflow: hidden;
	margin-bottom: 20px;
}

.line_c_03 label, .line_c_04 label {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 20px;
}

.line_c_03 label:last-child, .line_c_04 label:last-child {
	margin-right: 0;
}

.character_box .line_c_03, .character_box .line_c_04 {
	width: 380px;
	height: 80px;
	overflow: hidden;
	margin-bottom: 20px;
}

.line_c_03 label:last-child, .line_c_04 label:last-child {
	margin-right: 0;
}

.pop_up .line04 {
	width: 410px;
	height: 2px;
	background-color: #ccc;
	margin-bottom: 20px;
}

.pop_up .character_btn p {
	width: 410px;
	height: 50px;
	background-color: #333;
	color: white;
	margin-bottom: 20px;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
}

/*footer*/
.footer_ex {
	width: 100%;
}

.footer_ex .footer_top {
	width: 100%;
	height: 50px;
	border-top: 1px solid #ccc;
	background-color: #f3f3f3;
}

.footer_top ul {
	width: 1195px;
	overflow: hidden;
	margin: 0 auto;
}

.footer_top ul li {
	width: 170.714285px;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
}

.footer_top ul li:first-child {
	border-left: 1px solid #ccc;
	box-sizing: border-box;
}

.footer_top ul li a {
	color: #4b4b4b;
	font-weight: bold;
}

.footer_top ul li:nth-child(4) a {
	color: red;
}

.footer_middle {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	background-color: #333333;
}

.footer_middle .sns_zon {
	width: 1195px;
	height: 60px;
	overflow: hidden;
	margin: 0 auto;
}

.sns_zon .footer_logo {
	width: 140px;
	float: left;
}

.sns_zon .sns {
	width: 200px;
	float: right;
}

.sns div {
	width: 42.5px;
	float: left;
	margin-top: 9px;
	margin-right: 10px;
}

.sns div:last-child {
	margin-right: 0;
}

.footer_bottom_ex {
	width: 100%;
	height: 260px;
	padding-top: 50px;
	box-sizing: border-box;
	background-color: #333333;
}

.footer_bottom_ex .footer_bottom {
	width: 1195px;
	margin: 0 auto;
	overflow: hidden;
}

.footer_bottom .download {
	width: 200px;
	height: 40px;
	margin-top: 120px;
	float: right;
	background-color: white;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}

.download a {
	color: #333333;
}

.download span {
	font-size: 18px;
	color: #0d75bc;
}

.footer_bottom .company {
	width: 830px;
	height: 160px;
	float: left;
	font-size: 14px;
	line-height: 25px;
	color: #ccc;
}

.company p:nth-child(1) {
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}

.company p:nth-child(3), .company a:nth-child(4) {
	float: left;
}

.company p:nth-child(3) {
	margin-right: 10px;
}

.company a:nth-child(4) {
	width: 120px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-top: 2.5px;
	color: #ccc;
	background-color: black;
}

.company p:nth-child(7), .company a:nth-child(8) {
	float: left;
}

.company p:nth-child(7) {
	margin-right: 10px;
}

.company a:nth-child(8) {
	width: 100px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-top: 2.5px;
	color: #ccc;
	background-color: black;
}