* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}


@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

body {font-family: SpoqaHanSansNeo;}

section
{width: 100%; max-width: 1920px; min-width: 1340px;
margin: 0 auto;}

section .mypage
{width: 1340px;
margin: 0 auto; margin-top: 50px;
overflow: hidden;}

.mypage .mypage_left
{width: 240px; height: 260px;
margin-right: 60px;
float: left;}

.mypage_left .mypage_title01
{width: 240px; height: 50px;
margin-bottom: 10px;
border: 1px solid #0d75bc;
background-color: white;
box-sizing: border-box;
overflow: hidden;}

.mypage_title01 p
{float: left;
line-height: 50px; text-indent: 20px;
font-size: 20px; font-weight: bold;
color: #0d75bc;}

.mypage_title01 div
{width: 20px; height: 20px;
float: right; margin-right: 20px;
margin-top: 15px;}

.mypage_right .mypage_menu
{width: 240px; height: 200px;}

.mypage_menu a li
{width: 240px; height: 50px;
border: 1px solid #ccc;
box-sizing: border-box;
overflow: hidden;
color: #333;
font-weight: bold;}

.mypage_menu a li
{border-bottom: none;}

.mypage_menu a:nth-child(4) li
{border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.mypage_menu a:nth-child(1) li
{background-color: #0d75bc;
color: white;}

.mypage_menu a li p:nth-child(1)
{float: left;
text-indent: 20px;
line-height: 50px;}

.mypage_menu a li p:nth-child(2)
{float: right;
margin-right: 20px;
line-height: 50px;}

.mypage .mypage_right
{width: 1040px; 
float: left;
margin-bottom: 100px;}

.mypage_right .mypage_rout
{width: 1040px; height: 20px;
overflow: hidden;
margin-bottom: 50px;}

.mypage_rout div, .mypage_rout p
{float: left;
font-size: 14px; line-height: 20px;
margin-right: 5px; font-weight: bold;}

.mypage_rout div 
{width: 20px; height: 20px;}

.mypage_rout p:nth-child(5)
{color: #e5004f;}

.mypage_right>p
{font-size: 24px;
font-weight: bold;
color: #0d75bc;
margin-bottom: 10px;}

.mypage_right .line01
{width: 1040px; height: 1px;
background-color: #ccc;
margin-bottom: 50px;}

.mypage_right .profile_box
{width: 1040px;
margin-bottom: 100px;}

.profile_box table
{width: 1040px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 50px;}

.profile_box table tr td:nth-child(1)
{width: 120px; height: 50px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center; line-height: 50px;
font-size: 14px; font-weight: bold;
background-color: #f3f3f3;}

.profile_box table tr td:nth-child(2)
{width: 520px; 
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.profile_box table tr:nth-child(1) td:nth-child(2)
{width: 520px; 
border-top: 2px solid #333;
box-sizing: border-box;}

.profile_box table tr:nth-child(5) td:nth-child(2)
{border-bottom: none;}

.profile_box table tr td:nth-child(3)
{width: 120px; height: 50px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center; line-height: 50px;
font-size: 14px; font-weight: bold;
background-color: #f3f3f3;}

.profile_box table tr:nth-child(5) td:nth-child(3)
{border-bottom: none;}

.profile_box table tr:nth-child(5) td:nth-child(1)
{border-bottom: none;}

.profile_box table tr:nth-child(1) td:nth-child(1)
{border-top: 2px solid #f49800;
box-sizing: border-box;}

.profile_box table tr:nth-child(1) td:nth-child(3)
{border-top: 2px solid #f49800;
box-sizing: border-box;}

.profile_box table tr:nth-child(5) td:nth-child(2)
{border-right: none;}

.profile_box table tr:nth-child(3) td:nth-child(3)
{border-right: none;}

.profile_box table tr td:nth-child(4)
{width: 280px; 
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.profile_box table tr:nth-child(1) td:nth-child(4)
{width: 280px; height: 50px;
border-top: 2px solid #333;
box-sizing: border-box;}

/* .profile_box table tr:nth-child(1) td:nth-child(2) .id */
input[type=email]
{width: 520px; height: 50px;
overflow: hidden;}

/* .id p */
.id input
{width: 425px; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 14px; line-height: 40px; text-indent: 14px;
margin-left: 5px; margin-top: 5px;
float: left;}

/* .id a */
.id a
{width: 80px; height: 40px;
float: right;
background-color: #3b8aff;
text-align: center; line-height: 40px; color: white;
font-size: 14px;
margin-top: 5px; margin-left: 5px; margin-right: 5px;}

.profile_box table tr:nth-child(1) td:nth-child(4) .birthday
{width: 270px; height: 40px;
margin-left: 5px; font-size: 14px; line-height: 40px;
overflow: hidden;}

.birthday p
{float: left;
line-height: 50px;
margin-right: 5px;}

/* #birthday01 */
#yyyy
{width: 75px; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;
margin-right: 5px;
text-indent: 14px;}

/* #birthday02, #birthday03 */
#MM, #dd
{width: 60px; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;
margin-right: 5px;
text-indent: 14px;}



.profile_box table tr:nth-child(2) td:nth-child(2) .name
{width: 510px; height: 40px;
margin-left: 5px;
overflow: hidden;
font-size: 14px; line-height: 40px;}

#name_box
{width: 160px; height: 40px;
margin-right: 10px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;
text-indent: 14px;}

/* .name p 
{float: left;} */

.name p
{font-size:14px; line-height: 40px;
float: left;
margin-right:10px;}

/* .name>input:nth-child(1)
{width: 90px; height: 40px;
margin-right: 10px;
border: 1px solid #ccc;
box-sizing: border-box;
text-align: center;} */

.name a 
{width: 80px; height: 40px;
margin-left: 5px; text-align: center;
background-color: #3b8aff; color: white;
float: right;}

#man,#woman {display: none;}

#man:checked ~ .profile_box table tr:nth-child(2) .gender label:nth-child(1)
{background-color: #3b8aff;
color: white;}

#man:checked ~ .profile_box table tr:nth-child(2) .gender label:nth-child(2)
{background-color: white;
color: #333;}

#woman:checked ~ .profile_box table tr:nth-child(2) .gender label:nth-child(1)
{background-color: white;
color: #333;}

#woman:checked ~ .profile_box table tr:nth-child(2) .gender label:nth-child(2)
{background-color: #3b8aff;
color: white;}



.profile_box table tr:nth-child(2) td:nth-child(4) .gender
{width: 270px; height: 40px;
margin-left: 5px;
overflow: hidden;
font-size: 14px; line-height: 40px;}

.gender label
{width: 60px; height: 40px;
margin-right: 5px;
border: 1px solid #ccc;
background-color: white;
box-sizing: border-box;
float: left;
font-size: 14px; line-height: 40px; text-align: center;}

.profile_box table tr:nth-child(3) td:nth-child(2) .phone
{width: 510px; height: 40px;
margin-left: 5px;
overflow: hidden;
font-size: 14px; line-height: 40px;}

.phone a
{width: 80px; height: 40px;
background-color: #3b8aff;
color: white; text-align: center;
float: right;}

/* .phone p */
.phone input
{width: 130px; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left; text-indent: 14px;
/* text-align: center; */}


.profile_box table tr:nth-child(4) td:nth-child(2)
{width: 520px; height: 110px;}

.profile_box table tr:nth-child(4) td:nth-child(2) .password
{width: 510px; height: 100px;
margin-left: 5px;}

.password .password01
{width: 510px; height: 30px;
margin-bottom: 5px;
font-size: 14px; line-height: 30px;}

.password01 p
{float: left;
width: 120px; height: 30px;
text-align: right;
margin-right: 10px;}

#pw01
{width: 160px; height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

.password .password02
{width: 510px; height: 30px;
margin-bottom: 5px;
font-size: 14px; line-height: 30px;}

.password02 p
{float: left;
width: 120px; height: 30px;
text-align: right; margin-right: 10px;}

#pw02
{width: 160px; height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

.password .password03
{width: 510px; height: 30px;
font-size: 14px; line-height: 30px;}

.password03 p
{float: left;
width: 120px; height: 30px;
text-align: right; margin-right: 10px;}

#pw03
{width: 160px; height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

.profile_box table tr:nth-child(4) td:nth-child(4) .character div
{width: 100px; height: 100px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-left: 5px;
float: left;}

.character a 
{width: 80px; height: 40px;
float: right;
margin-right: 20px; margin-top: 30px;
background-color: #3b8aff; color: white;
font-size: 14px; line-height: 40px; text-align: center;}

.profile_box table tr:nth-child(5) td:nth-child(2)
{height: 60px;}

.profile_box table tr:nth-child(5) td:nth-child(2) .reception
{width: 910px; height: 45px;
margin-left: 5px;
font-size: 14px;}

.reception .reception01
{width: 910px; height: 20px;
margin-bottom: 5px;
overflow: hidden;}

.reception01 p, .reception a 
{float: left;
line-height: 20px;}

.reception a
{font-weight: bold;}

.reception .reception02
{width: 910px; height: 20px;
line-height: 20px;
overflow: hidden;}

.reception02 p, .reception02 a
{float: left;}


.profile_box .button
{width: 340px; height: 40px;
margin: 0 auto;
overflow: hidden;}

.button>a
{width: 100px; height: 40px;
float: left; 
background-color: red;
color: white;
text-align: center; font-size: 14px; line-height: 40px;}

#reservation, #cancellation
{width: 100px; height: 40px;
float: left;
text-align: center; font-size: 14px; line-height: 40px;}

#reservation
{background-color: #3b8aff;
color: white; font-family: SpoqaHanSansNeo;
border: none; margin-right: 10px;}

#cancellation
{border: 1px solid #ccc;
box-sizing: border-box; font-family: SpoqaHanSansNeo;
background-color: #f6f6f6;
margin-right: 10px;}

.mypage_right .golf_course
{width: 1040px;
overflow: hidden;}

.golf_course .course_title
{width: 1040px;
margin-bottom: 30px;
text-align: center;}

.course_title>p:nth-child(1)
{font-weight: bold;
font-size: 28px;
color: #333;
margin-bottom: 10px;}

.course_title span
{color: #0d75bc;
font-size: 32px;}

.golf_course a 
{width: 330px; height: 230px;
float: left;}

.golf_course a:nth-child(3)
{margin-right: 25px;
margin-left: 25px;}

