* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

body {font-family: SpoqaHanSansNeo;}

section
{width: 100%; max-width: 1920px; min-width: 1950px;
margin: 0 auto;}

.password_check
{width: 550px; height: 430px;
margin: 0 auto;
overflow: hidden;}

.password_check .box_pw
{width: 450px; height: 430px;
margin: 0 auto;}

.box_pw>p
{width: 450px; height: 100px;
font-size: 24px; line-height: 100px;
text-align: center; font-weight: bold;}

.box_pw .check
{width: 450px; height: 200px;
margin-bottom: 30px;
border-top: 2px solid #ccc;
border-bottom: 2px solid #ccc;
box-sizing: border-box;
background-color: #f7f7f7;}

.check .txt01
{width: 430px; height: 40px;
margin-left: 10px;
margin-top: 15px;
margin-bottom: 10px;}

.txt01 p 
{font-size: 14px; line-height: 20px;}

.txt01 span 
{text-decoration: underline;
font-weight: bold;}

.check .id
{width: 450px; height: 50px;
margin-left: 10px; margin-bottom: 10px;
font-size: 14px; line-height: 50px;
overflow: hidden;}

.id p
{float: left;}

/* .id>p:nth-child(1) */
.id>input
{margin-right: 10px;}

/* .id>p:nth-child(2) */
.id>input
{width: 300px; height: 50px;
background-color: white;
border: 1px solid #ccc;
box-sizing: border-box;
text-indent: 14px;}

.check .password
{width: 450px; height: 50px;
margin-left: 10px;
font-size: 14px; line-height: 50px;}

.password p 
{float: left;
margin-right: 46px;}

#pw01
{width: 300px; height: 50px;
background-color: white;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

#btn_pw
{width: 450px; height: 60px;
background-color: #444444; font-family: SpoqaHanSansNeo;
font-size: 16px; font-weight: bold; text-align: center; line-height: 60px; color: white;}