* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
    src: url(../font/Spoqa\ Han\ Sans\ Regular.woff);
}

body 
{font-family: SpoqaHanSansNeo;}

.mobile {display: none;}

.web
{width: 540px; height: 660px;
background-color: white;
margin: 0 auto;}

.privacy
{width: 440px; height: 660px;
margin: 0 auto;}

.privacy>p
{width: 440px; height: 100px;
font-size: 24px; font-weight: bold; text-align: center; line-height: 100px;}

.privacy .box01
{width: 440px; height: 440px;
background-color: #f7f7f7;
border-top: 2px solid #ccc;
border-bottom: 2px solid #ccc;
box-sizing: border-box;
margin-bottom: 30px;}

.box01>p
{width: 440px; height: 50px;
margin-bottom: 5px;
font-weight: bold; font-size: 14px; text-indent: 10px; line-height: 50px;}

.box01 table
{width: 420px; height: 330px;
border-top: 2px solid #f39800;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
margin-left: 10px;}

.box01 table tr:nth-child(1) td
{width: 140px; height: 45px;
text-align: center;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
font-size: 14px; font-weight: bold;}

.box01 table tr:nth-child(1) td:nth-child(3)
{border-right: none;}

.box01 table tr:nth-child(2) td
{width: 140px; height: 285px;
background-color: white;
border-right: 1px solid #ccc;
box-sizing: border-box;
font-size: 12px; line-height: 20px;}

.box01 table tr:nth-child(2) td:nth-child(3)
{border-right: none;}

.box01 table tr:nth-child(2) td:nth-child(1) p 
{width: 120px;
margin-left: 10px;
margin-bottom: 55px;}

.box01 table tr:nth-child(2) td:nth-child(2) p 
{width: 120px;
margin-left: 10px;
margin-bottom: 215px;}

.box01 table tr:nth-child(2) td:nth-child(3) p 
{width: 120px;
margin-left: 10px;
margin-bottom: 215px; color: red;}

.box01 .txt01
{width: 420px; height: 30px;
margin-top: 10px;
font-size: 11.5px;
margin-left: 10px;}

#btn_pr
{width: 440px; height: 60px;
background-color: #444444; color: white;
font-size: 16px; font-family: SpoqaHanSansNeo;
text-align: center; line-height: 60px; font-weight: bold;}

@media all and (max-width: 768px)
{

.web {display: none;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;
display: block;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.34);}

.privacy_m_box01
{width: 95%;
background-color: white;}

.privacy_m_box01>p:nth-child(1)
{width: 95%; height: 20px;
line-height: 20px; 
font-weight: bold; text-align: center;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;}

.privacy_m_box01 .privacy_line_m
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 5px;}

.privacy_m_box01>p:nth-child(3)
{width: 95%; height: 15px;
margin: 0 auto;
font-size: 12px; font-weight: bold; line-height: 15px;
margin-bottom: 5px;} 

.privacy_m_box01 .privacy_m_box02
{width: 95%;
margin: 0 auto;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
background-color: white;
margin-bottom: 10px;}

.privacy_m_box02 p
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 20px;}

.privacy_m_box02 p:nth-child(1)
{width: 100%; height: 30px; 
background-color: #f3f3f3;
font-size: 14px; font-weight: bold; text-align: center; line-height: 30px;}

.privacy_m_box02 .under_m_01
{width: 100%; height: 1px;
margin: 0 auto;
background-color: #ccc;}

.privacy_m_box02 p:nth-child(3)
{text-align: justify;}

.privacy_m_box01 .privacy_m_box03
{width: 95%;
margin: 0 auto;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
background-color: white;
margin-bottom: 10px;}

.privacy_m_box03 p
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 20px;}

.privacy_m_box03 p:nth-child(1)
{width: 100%; height: 30px; background-color: #f3f3f3;
font-size: 14px; font-weight: bold; text-align: center; line-height: 30px;}

.privacy_m_box03 .under_m_02
{width: 100%; height: 1px;
margin: 0 auto;
background-color: #ccc;}

.privacy_m_box03 p:nth-child(3)
{text-align: justify;}


.privacy_m_box01 .privacy_m_box04
{width: 95%;
margin: 0 auto;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
background-color: white;
margin-bottom: 10px;}

.privacy_m_box04 p
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 20px;}

.privacy_m_box04 p:nth-child(1)
{width: 100%; height: 30px; 
background-color: #f3f3f3;
font-size: 14px; font-weight: bold; text-align: center; line-height: 30px;}

.privacy_m_box04 .under_m_03
{width: 100%; height: 1px;
margin: 0 auto;
background-color: #ccc;}

.privacy_m_box04 p:nth-child(3)
{text-align: justify;
color: red;}

.privacy_m_box01>p:nth-child(7)
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 20px;
margin-bottom: 20px;}

#privacy_m_btn
{width: 95%; height: 40px;
font-size: 14px; color: white;
background-color: #333;
border: none;
margin-left: 2.5%; margin-bottom: 20px;
font-family: SpoqaHanSansNeo;
border-radius: 5px;}

}