* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

li {
	list-style: none;
}

img {
	display: block;
}

@font-face {
	font-family: yangpyeong;;
	src: url(../font/yangpyeong_B.ttf);
}

/*헤더*/
#menu_btn {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_01 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_02 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_03 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_04 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .lnb .sheet_05 {
	display: none;
}

#menu_btn:checked ~ .header .lnb_ex .btn_sheet {
	height: 470px;
}

.header {
	width: 100%;
	max-width: 1920px;
	position: relative;
	margin: 0 auto;
}

.header_top {
	width: 100%;
	background-color: #0d75bc;
}

/*즐겨찾기,예약확인*/
.header_top .button {
	width: 1132px;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
}

.button .favorites {
	width: 160px;
	height: 40px;
	margin-top: 10px;
	background-color: white;
	float: left;
	border-radius: 20px 20px 0 0;
}

.favorites p, .resercation p {
	text-align: center;
	line-height: 40px;
}

.button .resercation {
	width: 160px;
	height: 40px;
	border-radius: 20px 20px 0 0;
	margin-top: 10px;
	margin-left: 10px;
	background-color: white;
	float: left;
}

.favorites p a, .resercation p a {
	color: #0d75bc;
}

.header .header_middle {
	width: 1132px;
	height: 140px;
	margin: 0 auto;
}

.header_middle .middle_top {
	width: 1132px;
	height: 85px;
	margin: 0 auto;
	overflow: hidden;
}

.middle_top .logo {
	width: 180px;
	height: 85px;
	margin-right: 205px;
	float: left;
}

.middle_top .search {
	width: 300px;
	height: 40px;
	margin-right: 200px;
	margin-top: 22.5px;
	background-image: url(../../img/search.png);
	float: left;
}

.search .calendar {
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 15px;
	float: left;
}

.search .qna_button {
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 12px;
	float: right;
}

.header_middle .call_header {
	width: 142px;
	height: 40px;
	margin-top: 22.5px;
	float: left;
}

.header_middle .login_btn {
	width: 90px;
	height: 40px;
	margin-top: 22.5px;
	margin-left: 10px;
	float: right;
}

.login_btn .login, .login_btn label {
	width: 40px;
	height: 40px;
	float: left;
}

.login_btn .login {
	margin-right: 10px;
}

.header_middle .middle_bottom {
	width: 710px;
	height: 55px;
	margin: 0 auto;
	overflow: hidden;
}

.middle_bottom div {
	width: 100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50px;
	background-color: #ccc;
}

.middle_bottom div a {
	color: #4b4b4b;
}

.middle_bottom div:nth-child(2) {
	width: 130px;
}

.middle_bottom div:nth-child(4) {
	width: 130px;
}

.middle_bottom div:last-child {
	margin-right: 0;
}

/*버튼 눌렀을 때 전체 메뉴*/
.lnb_ex .btn_sheet {
	width: 100%;
	max-width: 1920px;
	height: 0;
	transition: all 0.3s;
	background-color: white;
	overflow: hidden;
}

.lnb_ex a {
	color: #333333;
}

.lnb_ex a:hover {
	color: #0d75bc;
}

.btn_sheet>ul {
	width: 1132px;
	margin: 50px auto;
}

.btn_sheet>ul>li>a, .btn_sheet .sub_menu01 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu01 {
	width: 980px;
	height: 60px;
}

.sub_menu01 li {
	width: 140px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line01 {
	width: 1132px;
	height: 22px;
}

.line01 .menu_line01 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line01 .menu_line02 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu02 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu02 {
	width: 980px;
	height: 60px;
}

.sub_menu02 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line02 {
	width: 1132px;
	height: 22px;
}

.line02 .menu_line03 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line02 .menu_line04 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu03 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu03 {
	width: 980px;
	height: 60px;
}

.sub_menu03 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line03 {
	width: 1132px;
	height: 22px;
}

.line03 .menu_line05 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line03 .menu_line06 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu04 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu04 {
	width: 980px;
	height: 60px;
}

.sub_menu04 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line04 {
	width: 1132px;
	height: 22px;
}

.line04 .menu_line07 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line04 .menu_line08 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

.btn_sheet .sub_menu05 {
	float: left;
}

.btn_sheet>ul>li>a {
	width: 152px;
	height: 60px;
	color: #0d75bc;
	font-weight: bold;
	padding-top: 28px;
	padding-left: 10px;
	box-sizing: border-box;
}

.btn_sheet .sub_menu05 {
	width: 980px;
	height: 60px;
}

.sub_menu05 li {
	width: 140px;
	height: 30px;
	margin-top: 25px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.btn_sheet .line05 {
	width: 1132px;
	height: 22px;
}

.line05 .menu_line09 {
	width: 152px;
	height: 2px;
	margin-top: 10px;
	background-color: #0d75bc;
	float: left;
}

.line05 .menu_line10 {
	width: 980px;
	height: 2px;
	margin-top: 10px;
	background-color: #ccc;
	float: left;
}

/*메뉴*/
.lnb_ex {
	width: 100%;
	height: 75px;
	background-color: #0d75bc;
}

.lnb_ex .lnb {
	width: 1132px;
	margin: 0 auto;
	overflow: hidden;
}

.lnb>ul>li {
	width: 160.8px;
	text-align: center;
	line-height: 75px;
	float: left;
}

.lnb>ul>div {
	float: left;
	width: 1px;
	height: 16px;
	background-color: white;
	margin-top: 29.5px;
}

.lnb>ul>li>a {
	color: white;
}

.lnb>ul>li>a:hover {
	color: white;
}

.lnb .sheet_01 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_01 {
	height: 600px;
}

.lnb .sheet_02 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_02 {
	height: 250px;
}

.lnb .sheet_03 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_03 {
	height: 300px;
}

.lnb .sheet_04 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_04 {
	height: 150px;
}

.lnb .sheet_05 {
	width: 160.8px;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.lnb>ul>li:hover .sheet_05 {
	height: 600px;
}

.lnb>ul>li>ul>div>li {
	width: 160.8px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: white;
	position: relative;
	z-index: 999;
}

.lnb>ul>li>ul>div>li>a {
	color: black;
	font-size: 14px;
}

.lnb>ul>li>ul>div>li>a:hover {
	color: #0d75bc;
}

/*sub*/
section {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

section .japen01 {
	width: 1340px;
	margin: 0 auto;
	overflow: hidden;
}

.japen01 .japen_menu {
	width: 240px;
	margin-top: 70px;
	margin-right: 60px;
	float: left;
}

.japen01 .right {
	width: 1040px;
	float: left;
}

.japen_menu div {
	width: 240px;
	height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}

.japen_menu .japen_title {
	width: 240px;
	height: 50px;
	overflow: hidden;
	border: 1px solid #0d75bc;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
}

.japen_title p {
	margin-left: 10px;
	color: #0d75bc;
	float: left;
}

.japen_title div {
	width: 20px;
	height: 20px;
	border: none;
	margin-right: 10px;
	margin-top: 15px;
	float: right;
}

.japen_menu div a p:nth-child(1) {
	float: left;
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
	line-height: 50px;
}

.japen_menu div a p:nth-child(2) {
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;
	line-height: 50px;
}

.japen_menu .menu01 {
	border: none;
	background-color: #0d75bc;
}

.menu01 a p {
	color: white;
}

.japen_menu .japen_free {
	width: 240px;
	height: 140px;
	margin-top: 50px;
	border: none;
}

.right .location {
	width: 1040px;
	height: 20px;
	margin-top: 70px;
	margin-bottom: 70px;
	overflow: hidden;
}

.location div {
	width: 20px;
	height: 20px;
}

.location div, .location p {
	float: left;
	margin-right: 5px;
}

.location p {
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.location p:nth-child(5) {
	color: #0d75bc;
}

.location p:nth-child(7) {
	color: red;
}

/*title*/
.right .title_box {
	width: 1040px;
	height: 30px;
	overflow: hidden;
}

.title_box .right_title {
	font-weight: bold;
	font-size: 24px;
	margin-left: 5px;
	color: #0d75bc;
	float: left;
	font-family: yangpyeong;
}

.title_box .button_menu {
	float: right;
}

.button_menu div, .button_menu select {
	float: left;
}

.button_menu div {
	width: 100px;
	height: 30px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	margin-right: 10px;
}

.button_menu .all {
	border: none;
	background-color: #333;
}

.all a {
	color: white;
}

.button_menu select {
	width: 100px;
	height: 30px;
}

.right .line {
	width: 1040px;
	height: 1px;
	background-color: #ccc;
	margin-top: 10px;
}

/*상품*/
.right .all_box {
	width: 1040px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.all_box .product_zon01 {
	width: 1040px;
	height: 347px;
	overflow: hidden;
}

/*product01*/
.product_zon01 .product01 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product01 .product_text_01 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_01 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_01 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_01 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_01 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product01 .review_box_01 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_01 .star01 {
	float: left;
}

.review_box_01 .review01 {
	float: right;
}

.star01 div {
	float: left;
}

.review01 .talk01, .review01 .like01 {
	float: left;
}

.review01 .talk01 {
	margin-right: 10px;
}

.talk01 div, .talk01 p {
	float: left;
}

.talk01 p {
	line-height: 20px;
	margin-left: 5px;
}

.like01 div, .like01 p {
	float: left;
}

.like01 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk01 p, a .like01 p {
	color: #ccc;
}

/*product02*/
.product_zon01 .product02 {
	width: 320px;
	border: 1px solid #ccc;
	margin-left: 37px;
	margin-right: 37px;
	float: left;
}

.product02 .product_text_02 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_02 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_02 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_02 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_02 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product02 .review_box_02 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_02 .star02 {
	float: left;
}

.review_box_02 .review02 {
	float: right;
}

.star02 div {
	float: left;
}

.review02 .talk02, .review02 .like02 {
	float: left;
}

.review02 .talk02 {
	margin-right: 10px;
}

.talk02 div, .talk02 p {
	float: left;
}

.talk02 p {
	line-height: 20px;
	margin-left: 5px;
}

.like02 div, .like02 p {
	float: left;
}

.like02 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk02 p, a .like02 p {
	color: #ccc;
}

/*product03*/
.product_zon01 .product03 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product03 .product_text_03 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_03 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_03 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_03 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_03 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product03 .review_box_03 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_03 .star03 {
	float: left;
}

.review_box_03 .review03 {
	float: right;
}

.star03 div {
	float: left;
}

.review03 .talk03, .review03 .like03 {
	float: left;
}

.review03 .talk03 {
	margin-right: 10px;
}

.talk03 div, .talk03 p {
	float: left;
}

.talk03 p {
	line-height: 20px;
	margin-left: 5px;
}

.like03 div, .like03 p {
	float: left;
}

.like03 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk03 p, a .like03 p {
	color: #ccc;
}

/*2번째 줄*/
.all_box .product_zon02 {
	width: 1040px;
	height: 347px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

/*product04*/
.product_zon02 .product04 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product04 .product_text_04 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_04 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_04 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_04 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_04 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product04 .review_box_04 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_04 .star04 {
	float: left;
}

.review_box_04 .review04 {
	float: right;
}

.star04 div {
	float: left;
}

.review04 .talk04, .review04 .like04 {
	float: left;
}

.review04 .talk04 {
	margin-right: 10px;
}

.talk04 div, .talk04 p {
	float: left;
}

.talk04 p {
	line-height: 20px;
	margin-left: 5px;
}

.like04 div, .like04 p {
	float: left;
}

.like04 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk04 p, a .like04 p {
	color: #ccc;
}

/*product05*/
.product_zon02 .product05 {
	width: 320px;
	border: 1px solid #ccc;
	margin-left: 37px;
	margin-right: 37px;
	float: left;
}

.product05 .product_text_05 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_05 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_05 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_05 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_05 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product05 .review_box_05 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_05 .star05 {
	float: left;
}

.review_box_05 .review05 {
	float: right;
}

.star05 div {
	float: left;
}

.review05 .talk05, .review05 .like05 {
	float: left;
}

.review05 .talk05 {
	margin-right: 10px;
}

.talk05 div, .talk05 p {
	float: left;
}

.talk05 p {
	line-height: 20px;
	margin-left: 5px;
}

.like05 div, .like05 p {
	float: left;
}

.like05 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk05 p, a .like05 p {
	color: #ccc;
}

/*product06*/
.product_zon02 .product06 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product06 .product_text_06 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_06 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_06 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_06 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_06 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product06 .review_box_06 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_06 .star06 {
	float: left;
}

.review_box_06 .review06 {
	float: right;
}

.star06 div {
	float: left;
}

.review06 .talk06, .review06 .like06 {
	float: left;
}

.review06 .talk06 {
	margin-right: 10px;
}

.talk06 div, .talk06 p {
	float: left;
}

.talk06 p {
	line-height: 20px;
	margin-left: 5px;
}

.like06 div, .like06 p {
	float: left;
}

.like06 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk06 p, a .like06 p {
	color: #ccc;
}

/*3번째 줄*/
.all_box .product_zon03 {
	width: 1040px;
	height: 347px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

/*product04*/
.product_zon03 .product07 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product07 .product_text_07 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_07 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_07 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_07 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_07 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product07 .review_box_07 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_07 .star07 {
	float: left;
}

.review_box_07 .review07 {
	float: right;
}

.star07 div {
	float: left;
}

.review07 .talk07, .review07 .like07 {
	float: left;
}

.review07 .talk07 {
	margin-right: 10px;
}

.talk07 div, .talk07 p {
	float: left;
}

.talk07 p {
	line-height: 20px;
	margin-left: 5px;
}

.like07 div, .like07 p {
	float: left;
}

.like07 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk07 p, a .like07 p {
	color: #ccc;
}

/*product08*/
.product_zon03 .product08 {
	width: 320px;
	border: 1px solid #ccc;
	margin-left: 37px;
	margin-right: 37px;
	float: left;
}

.product08 .product_text_08 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_08 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_08 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_08 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_08 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product08 .review_box_08 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_08 .star08 {
	float: left;
}

.review_box_08 .review08 {
	float: right;
}

.star08 div {
	float: left;
}

.review08 .talk08, .review08 .like08 {
	float: left;
}

.review08 .talk08 {
	margin-right: 10px;
}

.talk08 div, .talk08 p {
	float: left;
}

.talk08 p {
	line-height: 20px;
	margin-left: 5px;
}

.like08 div, .like08 p {
	float: left;
}

.like08 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk08 p, a .like08 p {
	color: #ccc;
}

/*product06*/
.product_zon03 .product09 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product09 .product_text_09 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_09 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_09 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_09 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_09 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product09 .review_box_09 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_09 .star09 {
	float: left;
}

.review_box_09 .review09 {
	float: right;
}

.star09 div {
	float: left;
}

.review09 .talk09, .review09 .like09 {
	float: left;
}

.review09 .talk09 {
	margin-right: 10px;
}

.talk09 div, .talk09 p {
	float: left;
}

.talk09 p {
	line-height: 20px;
	margin-left: 5px;
}

.like09 div, .like09 p {
	float: left;
}

.like09 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk09 p, a .like09 p {
	color: #ccc;
}

/*4번째 줄*/
.all_box .product_zon04 {
	width: 1040px;
	height: 347px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

/*product10*/
.product_zon04 .product10 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product10 .product_text_10 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_10 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_10 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_10 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_10 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product10 .review_box_10 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_10 .star10 {
	float: left;
}

.review_box_10 .review10 {
	float: right;
}

.star10 div {
	float: left;
}

.review10 .talk10, .review10 .like10 {
	float: left;
}

.review10 .talk10 {
	margin-right: 10px;
}

.talk10 div, .talk10 p {
	float: left;
}

.talk10 p {
	line-height: 20px;
	margin-left: 5px;
}

.like10 div, .like10 p {
	float: left;
}

.like10 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk10 p, a .like10 p {
	color: #ccc;
}

/*product11*/
.product_zon04 .product11 {
	width: 320px;
	border: 1px solid #ccc;
	margin-left: 37px;
	margin-right: 37px;
	float: left;
}

.product11 .product_text_11 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_11 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_11 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_11 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_11 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product11 .review_box_11 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_11 .star11 {
	float: left;
}

.review_box_11 .review11 {
	float: right;
}

.star11 div {
	float: left;
}

.review11 .talk11, .review11 .like11 {
	float: left;
}

.review11 .talk11 {
	margin-right: 10px;
}

.talk11 div, .talk11 p {
	float: left;
}

.talk11 p {
	line-height: 20px;
	margin-left: 5px;
}

.like11 div, .like11 p {
	float: left;
}

.like11 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk11 p, a .like11 p {
	color: #ccc;
}

/*product12*/
.product_zon04 .product12 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product12 .product_text_12 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_12 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_12 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_12 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_12 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product12 .review_box_12 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_12 .star12 {
	float: left;
}

.review_box_12 .review12 {
	float: right;
}

.star12 div {
	float: left;
}

.review12 .talk12, .review12 .like12 {
	float: left;
}

.review12 .talk12 {
	margin-right: 10px;
}

.talk12 div, .talk12 p {
	float: left;
}

.talk12 p {
	line-height: 20px;
	margin-left: 5px;
}

.like12 div, .like12 p {
	float: left;
}

.like12 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk12 p, a .like12 p {
	color: #ccc;
}

/*4번째 줄*/
.all_box .product_zon04 {
	width: 1040px;
	height: 347px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

/*product10*/
.product_zon04 .product10 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product10 .product_text_10 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_10 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_10 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_10 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_10 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product10 .review_box_10 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_10 .star10 {
	float: left;
}

.review_box_10 .review10 {
	float: right;
}

.star10 div {
	float: left;
}

.review10 .talk10, .review10 .like10 {
	float: left;
}

.review10 .talk10 {
	margin-right: 10px;
}

.talk10 div, .talk10 p {
	float: left;
}

.talk10 p {
	line-height: 20px;
	margin-left: 5px;
}

.like10 div, .like10 p {
	float: left;
}

.like10 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk10 p, a .like10 p {
	color: #ccc;
}

/*product11*/
.product_zon04 .product11 {
	width: 320px;
	border: 1px solid #ccc;
	margin-left: 37px;
	margin-right: 37px;
	float: left;
}

.product11 .product_text_11 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_11 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_11 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_11 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_11 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product11 .review_box_11 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_11 .star11 {
	float: left;
}

.review_box_11 .review11 {
	float: right;
}

.star11 div {
	float: left;
}

.review11 .talk11, .review11 .like11 {
	float: left;
}

.review11 .talk11 {
	margin-right: 10px;
}

.talk11 div, .talk11 p {
	float: left;
}

.talk11 p {
	line-height: 20px;
	margin-left: 5px;
}

.like11 div, .like11 p {
	float: left;
}

.like11 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk11 p, a .like11 p {
	color: #ccc;
}

/*product12*/
.product_zon04 .product12 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product12 .product_text_12 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_12 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_12 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_12 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_12 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product12 .review_box_12 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_12 .star12 {
	float: left;
}

.review_box_12 .review12 {
	float: right;
}

.star12 div {
	float: left;
}

.review12 .talk12, .review12 .like12 {
	float: left;
}

.review12 .talk12 {
	margin-right: 10px;
}

.talk12 div, .talk12 p {
	float: left;
}

.talk12 p {
	line-height: 20px;
	margin-left: 5px;
}

.like12 div, .like12 p {
	float: left;
}

.like12 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk12 p, a .like12 p {
	color: #ccc;
}

/*5번째 줄*/
.all_box .product_zon05 {
	width: 1040px;
	height: 347px;
	overflow: hidden;
}

/*product13*/
.product_zon05 .product13 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product13 .product_text_13 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_13 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_13 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_13 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_13 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product13 .review_box_13 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_13 .star13 {
	float: left;
}

.review_box_13 .review13 {
	float: right;
}

.star13 div {
	float: left;
}

.review13 .talk13, .review13 .like13 {
	float: left;
}

.review13 .talk13 {
	margin-right: 10px;
}

.talk13 div, .talk13 p {
	float: left;
}

.talk13 p {
	line-height: 20px;
	margin-left: 5px;
}

.like13 div, .like13 p {
	float: left;
}

.like13 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk13 p, a .like13 p {
	color: #ccc;
}

/*product14*/
.product_zon05 .product14 {
	width: 320px;
	border: 1px solid #ccc;
	margin-left: 37px;
	margin-right: 37px;
	float: left;
}

.product14 .product_text_14 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_14 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_14 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_14 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_14 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product14 .review_box_14 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_14 .star14 {
	float: left;
}

.review_box_14 .review14 {
	float: right;
}

.star14 div {
	float: left;
}

.review14 .talk14, .review14 .like14 {
	float: left;
}

.review14 .talk14 {
	margin-right: 10px;
}

.talk14 div, .talk14 p {
	float: left;
}

.talk14 p {
	line-height: 20px;
	margin-left: 5px;
}

.like14 div, .like14 p {
	float: left;
}

.like14 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk14 p, a .like14 p {
	color: #ccc;
}

/*product15*/
.product_zon05 .product15 {
	width: 320px;
	border: 1px solid #ccc;
	float: left;
}

.product15 .product_text_15 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a .product_text_15 p:nth-child(1) {
	width: 300px;
	height: 20px;
	color: #0d75bc;
	line-height: 20px;
	font-size: 14px;
}

.product_text_15 p:nth-child(2) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.product_text_15 p:nth-child(3) {
	width: 300px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

a .product_text_15 p:nth-child(4) {
	width: 300px;
	height: 20px;
	color: #e5004f;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.product15 .review_box_15 {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review_box_15 .star15 {
	float: left;
}

.review_box_15 .review15 {
	float: right;
}

.star15 div {
	float: left;
}

.review15 .talk15, .review15 .like15 {
	float: left;
}

.review15 .talk15 {
	margin-right: 10px;
}

.talk15 div, .talk15 p {
	float: left;
}

.talk15 p {
	line-height: 20px;
	margin-left: 5px;
}

.like15 div, .like15 p {
	float: left;
}

.like15 p {
	line-height: 20px;
	margin-left: 5px;
}

a .talk15 p, a .like15 p {
	color: #ccc;
}

.right .number_btn {
	width: 260px;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 100px;
}

.number_btn a p {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
	font-weight: bold;
	float: left;
}

.number_btn a:last-child p {
	margin-right: 0;
}

.number_btn a:nth-child(2) p {
	color: red;
}

/*자유여행*/
.freedom {
	width: 100%;
	max-width: 1920px;
	height: 430px;
	margin: 0 auto;
	background-image: url(../img/background.png);
}

.freedom .country {
	overflow: hidden;
	margin-left: 235px;
}

.freedom .country div {
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 50px;
	margin-top: 280px;
	border: 1px solid white;
	box-sizing: border-box;
	float: left;
}

.country div a {
	color: white;
}

/*footer*/
.footer_ex {
	width: 100%;
}

.footer_ex .footer_top {
	width: 100%;
	height: 50px;
	border-top: 1px solid #ccc;
	background-color: #f3f3f3;
}

.footer_top ul {
	width: 1195px;
	overflow: hidden;
	margin: 0 auto;
}

.footer_top ul li {
	width: 170.714285px;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
}

.footer_top ul li:first-child {
	border-left: 1px solid #ccc;
	box-sizing: border-box;
}

.footer_top ul li a {
	color: #4b4b4b;
	font-weight: bold;
}

.footer_top ul li:nth-child(4) a {
	color: red;
}

.footer_middle {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	background-color: #333333;
}

.footer_middle .sns_zon {
	width: 1195px;
	height: 60px;
	overflow: hidden;
	margin: 0 auto;
}

.sns_zon .footer_logo {
	width: 140px;
	float: left;
}

.sns_zon .sns {
	width: 200px;
	float: right;
}

.sns div {
	width: 42.5px;
	float: left;
	margin-top: 9px;
	margin-right: 10px;
}

.sns div:last-child {
	margin-right: 0;
}

.footer_bottom_ex {
	width: 100%;
	height: 260px;
	padding-top: 50px;
	box-sizing: border-box;
	background-color: #333333;
}

.footer_bottom_ex .footer_bottom {
	width: 1195px;
	margin: 0 auto;
	overflow: hidden;
}

.footer_bottom .download {
	width: 200px;
	height: 40px;
	margin-top: 120px;
	float: right;
	background-color: white;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}

.download a {
	color: #333333;
}

.download span {
	font-size: 18px;
	color: #0d75bc;
}

.footer_bottom .company {
	width: 830px;
	height: 160px;
	float: left;
	font-size: 14px;
	line-height: 25px;
	color: #ccc;
}

.company p:nth-child(1) {
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}

.company p:nth-child(3), .company a:nth-child(4) {
	float: left;
}

.company p:nth-child(3) {
	margin-right: 10px;
}

.company a:nth-child(4) {
	width: 120px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-top: 2.5px;
	color: #ccc;
	background-color: black;
}

.company p:nth-child(7), .company a:nth-child(8) {
	float: left;
}

.company p:nth-child(7) {
	margin-right: 10px;
}

.company a:nth-child(8) {
	width: 100px;
}
heig