<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.BoardMapper">


	<!-- 공지사항 전체 게시글 갯수 출력 -->
	<select id="countNotice" resultType="int">
	<![CDATA[
 	SELECT COUNT(*) FROM notice_board
	]]>
	</select>
	<!-- 공지사항 전체 게시글 갯수 출력 -->
	
	
	<!-- 자주묻는질문 전체 게시글 갯수 출력 -->
	<select id="countQnA" resultType="int">
	<![CDATA[
 	SELECT COUNT(*) FROM qna_board
	]]>
	</select>
	<!-- 자주묻는질문 전체 게시글 갯수 출력 -->
	
	
	<!-- 패키지 상품 전체 게시글 갯수 출력 -->
	<select id="countPackage" resultType="int">
	<![CDATA[
 	SELECT COUNT(*) FROM package_product
	]]>
	</select>
	<!-- 패키지 상품 전체 게시글 갯수 출력 -->
	
	
	<!-- 상품별점/평점 전체 게시글 갯수 출력 -->
	<select id="countComment" resultType="int">
	<![CDATA[
 	SELECT COUNT(*) FROM package_product_comment
 	WHERE product_code = #{product_code}
	]]>
	</select>
	<!-- 상품별점/평점 전체 게시글 갯수 출력 -->
	
	
	<!-- 상품리뷰 전체 게시글 갯수 출력 -->
	<select id="countReview" resultType="int">
	<![CDATA[
 	SELECT COUNT(*) FROM package_product_review
 	WHERE product_code = #{product_code}
	]]>
	</select>
	<!-- 상품리뷰 전체 게시글 갯수 출력 -->
	
	
	<!-- 공지사항 전체 게시글 조회 -->
	<select id="selectNotice" resultType="com.spring.domain.BoardVO">
	<![CDATA[
	SELECT *
	FROM notice_board
	WHERE no > 0
	ORDER BY no DESC, date DESC
	LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>
	<!-- 공지사항 전체 게시글 조회 -->
	
	
	<!-- 자주묻는질문 전체 게시글 조회 -->
	<select id="selectQnA" resultType="com.spring.domain.BoardVO">
	<![CDATA[
	SELECT *
	FROM qna_board
	WHERE no > 0
	ORDER BY no DESC, date DESC
	LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>
	<!-- 자주묻는질문 전체 게시글 조회 -->
	
	
	<!-- 패키지 상품 전체 게시글 조회 -->
	<select id="selectPackages" resultType="com.spring.domain.ProductVO">
	<![CDATA[
	SELECT *
	FROM package_product
	WHERE product_code > 0
	ORDER BY product_code DESC
	LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>
	<!-- 패키지 상품 전체 게시글 조회 -->

	
	<!-- 게시물 조회 -->
	<select id="lookup" resultType="com.spring.domain.BoardVO">
	<![CDATA[
	SELECT *
	FROM notice_board
	WHERE no = #{no}
	AND title = #{title}
	]]>
	</select>
	<!-- 게시물 조회 -->
	
	
	<!-- 상품 게시물 조회 -->
	<select id="oneProduct" resultType="com.spring.domain.ProductVO">
	<![CDATA[
	SELECT *
	FROM package_product
	WHERE product_code = #{product_code}
	]]>
	</select>
	<!-- 상품 게시물 조회 -->


	<!-- 일정표 게시물 조회 -->
	<select id="oneItinerary" resultType="com.spring.domain.ItineraryVO">
	<![CDATA[
	SELECT *
	FROM package_itinerary
	WHERE product_code = #{product_code}
	]]>
	</select>
	<!-- 일정표 게시물 조회 -->


	<!-- 상품 리뷰 조회 -->
	<select id="oneReview" resultType="com.spring.domain.ReviewVO">
	<![CDATA[
	SELECT *
	FROM package_product_review
	WHERE product_code = #{product_code}
	ORDER BY review_regdate DESC
	LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>
	<!-- 상품 리뷰 조회 -->


	<!-- 상품볋점/평점 조회 -->
	<select id="oneComment" resultType="com.spring.domain.CommentVO">
	<![CDATA[
	SELECT *
	FROM package_product_comment
	WHERE product_code = #{product_code}
	ORDER BY comment_regdate DESC
	LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>
	<!-- 상품볋점/평점 조회 -->


	<!-- 예약불가 기간 조회 -->
	<select id="oneNoReser" resultType="com.spring.domain.NoReservationVO">
	<![CDATA[
	SELECT *
	FROM package_no_reservation
	WHERE product_code = #{product_code}
	]]>
	</select>
	<!-- 예약불가 기간 조회 -->

	
	<!-- 상품별점/평점 등록 -->
	<insert id="addComment">
	<![CDATA[
	INSERT INTO package_product_comment(product_code, comment_user, comment_user_profile, 
									comment, comment_regdate, score_fairways, score_playSpeed,
									score_caddy, score_facilities, score_guide, average_score)
	VALUES (#{product_code}, #{comment_user}, #{comment_user_profile}, #{comment}, 
		NOW(), #{score_fairways}, #{score_playSpeed}, #{score_caddy}, #{score_facilities}, 
		#{score_guide}, #{average_score})
	]]>
	</insert>
	<!-- 상품별점/평점 등록 -->


	
</mapper>