<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.ReservationMapper">

	<!-- 상품 예약 -->
	<insert id="memberReservation">
	<![CDATA[
	INSERT INTO reservation (product_code, sortation, id, productName, region, 
							city, departure_date, arrival_date, personnel, 
							booker, booker_phone, booker_email, booker_gender, 
							product_price, day_park, day_il, memo, 
							option_singleRoom, option_addVehicle, option_businessUpgrade, 
							total_price, regDate)
	VALUES (#{product_code}, #{sortation}, #{id}, #{productName}, #{region}, 
			#{city}, #{departure_date}, DATE_ADD(#{departure_date}, INTERVAL +#{day_il}-1 DAY), 
			#{personnel},
			#{booker}, #{booker_phone}, #{booker_email}, #{booker_gender},
			#{product_price}, #{day_park}, #{day_il}, #{memo},
			#{option_singleRoom}, #{option_addVehicle}, #{option_businessUpgrade},
			#{total_price}, NOW())
	]]>
	</insert>
<!-- 	
	departure_date, arrival_date,
	#{departure_date}, #{arrival_date},
-->
	<!-- 상품 예약 -->
	
	
	<!-- 여행자정보 삽입 -->
	<insert id="addTraveler">
	<![CDATA[
	INSERT INTO traveler (idx, product_code, productName, departure_date, arrival_date, booker,
						  traveler, traveler_gender, traveler_firstname, 
						  traveler_lastname, traveler_phone, regDate)
	VALUES (#{idx}, #{product_code}, #{productName}, #{departure_date}, #{arrival_date}, 
			#{booker}, #{traveler}, #{traveler_gender}, 
			#{traveler_firstname}, #{traveler_lastname}, #{traveler_phone}, NOW())
	]]>
	</insert>
	<!-- 여행자정보 삽입   -->


	<!-- 예약 내역 가져오기 -->
	<select id="getReservation" resultType="com.spring.domain.ReservationVO">
	<![CDATA[
	SELECT *
	FROM reservation
	WHERE id = #{id}
	ORDER BY regDate DESC
	]]>
	</select>
	<!-- 예약 내역 가져오기 -->


	<!-- 예약 내역 1개 가져오기 -->
	<select id="oneReservation" resultType="com.spring.domain.ReservationVO">
	<![CDATA[
	SELECT *
	FROM reservation
	WHERE id = #{id}
	AND idx = #{idx}
	]]>
	</select>
	<!-- 예약 내역 1개 가져오기 -->


	<!-- idx 가져오기 -->
	<select id="getIdx" resultType="int">
	SELECT idx
	FROM reservation
	WHERE product_code = #{product_code}
	AND productName = #{productName}
	AND departure_date = #{departure_date}
	</select>
	<!-- idx 가져오기 -->


</mapper>